
@model VOS.ViewModel.Business.VOS_PlanVMs.VOS_PlanVM
<link href="~/bootstrap-select/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<style type="text/css">
    th, td {
        width: 150px;
    }
    tr {
        height: 30px;
    }

    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 100px;
        line-height: 20px;
        text-align: right;
    }

    .label {
        position: relative;
       
    }

    .fileinp {
        position: absolute;
        left: 5px;
        top: 7px;
        opacity: 0;
        height: 36px;
        width: 100px;
    }
    #fileUploadBtn {
        padding: 5px 10px;
        background: #00b0f0;
        color: #FFF;
        border: none;
        border-radius: 5px;
    }
    /*input 输入框右边的上下箭头按钮*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>
<wt:form vm="@Model" id="formimg" style="width: 100%; height: 100%;">
    <div style="height:15%;">
        <wt:quote>批量添加任务</wt:quote>
        <wt:row items-per-row="ItemsPerRowEnum.Three">
            <wt:textbox field="Entity.Plan_no" disabled="true"></wt:textbox>
            <wt:combobox field="Entity.OrganizationID" items="AllOrganization" />
            <wt:combobox field="Entity.ShopnameId" items="AllShopnames" />
            <wt:datetime field="Entity.PlanSatrtTime" />
            <wt:datetime field="Entity.PlanEndTime" />
            <wt:textbox field="Entity.PlanFee" />
        </wt:row>
        <wt:row align="AlignEnum.Right">
            <button type="button" style="width:10%;float:left;" class="layui-btn layui-btn-radius" onclick="CreateTB()">创建</button>
            <input type="button" style="width:10%;" id="SaveTask" class="layui-btn layui-btn-radius layui-btn-normal" value="提交" />
            <wt:closebutton style="width:10%" class="layui-btn layui-btn-radius layui-btn-primary" />
        </wt:row>
    </div>
    <div style="overflow: scroll; width: 100%;height:70%;">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>任务编号</th>
                    <th>做单方法</th>
                    <th>执行开始</th>
                    <th>商品类目</th>
                    <th>商品名称</th>
                    <th>商品图片</th>
                    <th>商品链接</th>
                    <th style="width:75px;">价格</th>
                    <th>SKU</th>
                    <th>关键字</th>
                    <th style="width:75px;">单量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="layui_table"></tbody>
        </table>
    </div>
</wt:form>

<script src="~/bootstrap-select/bootstrap.min.js"></script>
<script src="~/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/bootstrap-select/defaults-zh_CN.min.js"></script>
<script type="text/javascript">
    let RowIndex = 1
        , htmloption//类目下拉
        , TaskTypeVal = 0
        , TaskTypeTex = "其他"//做单方法
        , StartTime//执行开始
        , TaskCateTex = "请选择"//类目
        , TaskCateVal = "-"
        , CommodityName = "-"//商品名称
        , CommodityPrice = 0.01//商品价格
        , CommodityLink = "-"//商品链接
        , base64 = "/images/logo.png"
        , sku = "-"
        , keyword="-";
    $(function () {
        $("#SaveTask").addClass("layui-btn-disabled");
        $.get('@Url.Action("GetCategory", "VOS_Task")', data => {
            if (data.Msg == "success") {
                $(data.Data).each(function (index, item) {
                    htmloption += "<option value=" + item.Value + ">" + item.Text + "</option>";
                });
            } else {
                layer.msg("网络状态不佳");
            }
        });
    });
    function CreateTB() {
        if ($("#VOS_PlanVM_Entity_PlanSatrtTime").val() == ""
            || $("#VOS_PlanVM_Entity_PlanEndTime").val() == ""
            || $("#VOS_PlanVM_Entity_PlanFee").val() == ""
            || $("#VOS_PlanVM_Entity_OrganizationID").val() == ""
            || $("#VOS_PlanVM_Entity_ShopnameId").val() == "") {
            layer.msg("请将上部分填写完毕");
            return false;
        }

        $("#SaveTask").removeClass("layui-btn-disabled").addClass("layui-btn-radius layui-btn-normal");
        let oTB = document.getElementById("layui_table");
        let oTR = oTB.insertRow(oTB.rows.length);
        //任务编号
        let oTD0 = oTR.insertCell(0);
        oTD0.innerHTML = "<div>" + GetTime() + "</div><input id='Task_no' readonly  type='text' value='" + GetTime()+"' class='layui-input layui-btn-disabled' style='display:none;'/>";
        //做单方法
        let oTD1 = oTR.insertCell(1);
        oTD1.innerHTML = "<div>" + TaskTypeTex+"</div>\
                          <select id='TaskType'class='form-control' >\
                            <option value='0'>搜索单</option>\
                            <option value='1'>隔天单</option>\
                            <option value='2'>非搜单</option>\
                            <option value='3'>动销单</option>\
                            <option value='4'>其他</option>\
                         </select>";
        $(oTD1).find("select").val(TaskTypeVal);
        //执行开始
        let oTD2 = oTR.insertCell(2);
        oTD2.style.width = "140px";
        oTD2.innerHTML = "<div>" + GetDate() + "</div><input id='ImplementStartTime' value=" + GetDate()+" type='date'  style='display:none' class='layui-input'>";
        //商品类目
        let oTD3 = oTR.insertCell(3);
        oTD3.innerHTML = "<span>" + TaskCateTex + "</span><select id='TaskCateId' class='form-control selectpicker' data-live-search='true' style='display:none;'><option value='-'>请选择</option>" + htmloption + "</select>";
        $(oTD3).find("select").selectpicker('refresh');//初始化
        $(oTD3).find("select").val(TaskCateVal);//赋值
        $(oTD3).find(".bootstrap-select").css("display", "none");//隐藏
        //商品名称
        let oTD4 = oTR.insertCell(4);
        oTD4.innerHTML = "<div>" + CommodityName + "</div><input type='text' value=" + CommodityName+" id='CommodityName' class='layui-input' style='display:none;'/>";
        //商品图片
        let oTD5 = oTR.insertCell(5);
        oTD5.innerHTML = '<img src="' + base64 + '" id="base64" class="FileData" width="32" height="32"/>\
                          <label for="fileinp" style="display:none; cursor: pointer;">\
                            <input type="button" id="fileUploadBtn" calss="fileUpload" value="上传" >\
                            <span>未选择</span>\
                            <input type="file" name="fileUpload" class="fileinp" accept=".JPG,.JPEG,.PNG,.TIF">\
                          </label>';
        //商品链接
        let oTD6 = oTR.insertCell(6);
        oTD6.innerHTML = "<div>" + CommodityLink + "</div><input type='text' id='CommodityLink' value='" + CommodityLink+"' class='layui-input' style='display:none;'/>";
        //商品价格
        let oTD7 = oTR.insertCell(7);
        oTD7.style.width = "50px";
        oTD7.innerHTML = "<div>" + CommodityPrice + "</div><input type='number' value=" + CommodityPrice +" id='CommodityPrice' class='layui-input deal' style='width:75px;display:none;'/>";
        //SKU
        let oTD8 = oTR.insertCell(8);
        oTD8.innerHTML = "<div>" + sku + "</div><input type='text' id='SKU' value='"+sku+"' class='layui-input' style='display:none;'/>";
        //搜索关键字
        let oTD9 = oTR.insertCell(9);
        oTD9.innerHTML = "<div>" + keyword + "</div><input type='text' id='SearchKeyword' value='" + keyword +"' class='layui-input' style='display:none;'/>";
        //单量
        let oTD10 = oTR.insertCell(10);
        oTD10.style.width = "50px";
        oTD10.innerHTML = "<div>1</div><input type='number' id='VOS_Number' value='1' class='layui-input deal' style='width:75px;display:none;'/>";
        //操作
        let oTD11 = oTR.insertCell(11);
        oTD11.style.width = "230px";
        oTD11.innerHTML = "<input type='button' class='layui-btn' value='编辑' onclick=\"edit(this,'show')\"/> <input type='button' class='layui-btn layui-btn-primary layui-border-black' value='删除' onclick='drop(this)'/>";
        RowIndex++;
       
    }

    function edit(o, otype) {
        let oTR = o.parentNode.parentNode;
        //任务
        let TaskDiv = oTR.cells[0].getElementsByTagName("div");
        let TaskInpt = oTR.cells[0].getElementsByTagName("input");
        //做单方法
        let MakeDiv = oTR.cells[1].getElementsByTagName("div");
        let MakeSelect = oTR.cells[1].getElementsByTagName("select");
        //执行开始
        let ImplementStartTimeDiv = oTR.cells[2].getElementsByTagName("div");
        let ImplementStartTimeInput = oTR.cells[2].getElementsByTagName("input");
        //商品类目
        let TaskCateSpan = oTR.cells[3].getElementsByTagName("span");
        let TaskCateDiv = oTR.cells[3].getElementsByTagName("div");
        //商品名称
        let CommodityNameDiv = oTR.cells[4].getElementsByTagName("div");
        let CommodityNameInput = oTR.cells[4].getElementsByTagName("input");
        //商品图片
        let CommodityPicIdImg = oTR.cells[5].getElementsByTagName("img");
        let CommodityPicIdButton = oTR.cells[5].getElementsByTagName("label");
        //商品链接
        let CommodityLinkDiv = oTR.cells[6].getElementsByTagName("div");
        let CommodityLinkInput = oTR.cells[6].getElementsByTagName("input");
        //商品价格
        let CommodityPriceDiv = oTR.cells[7].getElementsByTagName("div");
        let CommodityPriceInput = oTR.cells[7].getElementsByTagName("input");
        //sku
        let SKUDiv = oTR.cells[8].getElementsByTagName("div");
        let SKUInput = oTR.cells[8].getElementsByTagName("input");
        //搜索关键字
        let keywordDiv = oTR.cells[9].getElementsByTagName("div");
        let keywordInput = oTR.cells[9].getElementsByTagName("input");
        //单量
        let VOS_NumberDiv = oTR.cells[10].getElementsByTagName("div");
        let VOS_NumberInput = oTR.cells[10].getElementsByTagName("input");

        if (otype == "show") {
            o.value = "确认";
            o.setAttribute("onclick", "edit(this,'hide')");
            //任务编号
            TaskInpt[0].value = TaskDiv[0].childNodes[0].nodeValue;
            TaskInpt[0].style.display = "block";
            TaskDiv[0].style.display = "none";
            //做单方法
            $(MakeSelect[0]).val(SelectOp(MakeDiv[0].childNodes[0].nodeValue));
            MakeSelect[0].style.display = "block";
            MakeDiv[0].style.display = "none";
            //执行开始
            ImplementStartTimeInput[0].value = ImplementStartTimeDiv[0].childNodes[0].nodeValue;
            ImplementStartTimeInput[0].style.display = "block";
            ImplementStartTimeDiv[0].style.display = "none";
            //商品类目
            TaskCateDiv[0].style.display = "block";
            TaskCateSpan[0].style.display = "none";
            //商品名称
            CommodityNameInput[0].value = CommodityNameDiv[0].childNodes[0].nodeValue;
            CommodityNameInput[0].style.display = "block";
            CommodityNameDiv[0].style.display = "none";
            //商品图片
            CommodityPicIdButton[0].style.display = "block";
            CommodityPicIdImg[0].style.display = "none";
            //商品链接
            CommodityLinkInput[0].value = CommodityLinkDiv[0].childNodes[0].nodeValue;
            CommodityLinkInput[0].style.display = "block";
            CommodityLinkDiv[0].style.display = "none";
            //商品价格
            CommodityPriceInput[0].value = CommodityPriceDiv[0].childNodes[0].nodeValue;
            CommodityPriceInput[0].style.display = "block";
            CommodityPriceDiv[0].style.display = "none";
            //SKU
            SKUInput[0].value = SKUDiv[0].childNodes[0].nodeValue;
            SKUInput[0].style.display = "block";
            SKUDiv[0].style.display = "none";
            //搜索关键字
            keywordInput[0].style.display = "block";
            keywordDiv[0].style.display = "none";
            //单量
            VOS_NumberInput[0].value = VOS_NumberDiv[0].childNodes[0].nodeValue;
            VOS_NumberInput[0].style.display = "block";
            VOS_NumberDiv[0].style.display = "none";
        } else if (otype == "hide") {
            o.value = "编辑";
            o.setAttribute("onclick", "edit(this,'show')");
            //任务编号
            TaskDiv[0].childNodes[0].nodeValue = TaskInpt[0].value;
            TaskInpt[0].style.display = "none";
            TaskDiv[0].style.display = "block";
            //做单方法
            TaskTypeTex = MakeDiv[0].childNodes[0].nodeValue = $(MakeSelect[0]).find("option:selected").text();
            TaskTypeVal = $(MakeSelect[0]).find("option:selected").val();
            MakeSelect[0].style.display = "none";
            MakeDiv[0].style.display = "block";
            //执行开始
            StartTime = ImplementStartTimeDiv[0].childNodes[0].nodeValue = ImplementStartTimeInput[0].value;
            ImplementStartTimeInput[0].style.display = "none";
            ImplementStartTimeDiv[0].style.display = "block";
            //商品类目
            TaskCateTex = TaskCateSpan[0].childNodes[0].nodeValue = $(TaskCateDiv[0]).find("option:selected").text();
            TaskCateVal = $(TaskCateDiv[0]).find("option:selected").val();
            TaskCateDiv[0].style.display = "none";
            TaskCateSpan[0].style.display = "block";
            //商品名称
            CommodityName = CommodityNameDiv[0].childNodes[0].nodeValue = CommodityNameInput[0].value;
            CommodityNameInput[0].style.display = "none";
            CommodityNameDiv[0].style.display = "block";
            //商品图片
            CommodityPicIdButton[0].style.display = "none";
            CommodityPicIdImg[0].style.display = "block";
            //商品链接
            CommodityLink = CommodityLinkDiv[0].childNodes[0].nodeValue = CommodityLinkInput[0].value;
            CommodityLinkInput[0].style.display = "none";
            CommodityLinkDiv[0].style.display = "block";
            //商品价格
            CommodityPrice = CommodityPriceDiv[0].childNodes[0].nodeValue = CommodityPriceInput[0].value < 0.01 ? 0.01 : CommodityPriceInput[0].value;
            CommodityPriceInput[0].style.display = "none";
            CommodityPriceDiv[0].style.display = "block";
            //SKU
            SKUDiv[0].childNodes[0].nodeValue = SKUInput[0].value;
            sku = SKUInput[0].value;
            SKUInput[0].style.display = "none";
            SKUDiv[0].style.display = "block";
            //搜索关键字
            keywordDiv[0].childNodes[0].nodeValue = keywordInput[0].value;
            keyword = keywordInput[0].value;
            keywordInput[0].style.display = "none";
            keywordDiv[0].style.display = "block";
            //单量
            let single = VOS_NumberInput[0].value;
            VOS_NumberDiv[0].childNodes[0].nodeValue = single < 1 ? 1 : single;
            VOS_NumberInput[0].style.display = "none";
            VOS_NumberDiv[0].style.display = "block";
        }
    }

    //图显示
    $(document).on("click", "[name='fileUpload']", function () {
        let _this = this;
        let span = $(_this).prev();
        let img = $(_this).parent().prev();
        _this.addEventListener('change', function () {
            let file = this.files[0];
            if (file.type.indexOf("image") == 0) {
                $(span[0]).text("已选择");
                let reader = new FileReader();
                reader.onload = function (e) {
                    img[0].src = this.result;
                    base64 = this.result;
                }
                reader.readAsDataURL(file);
            } else {
                $(span[0]).text("未选择");
            }
        });
    });

    function drop(o) {
        let oTB = document.getElementById("layui_table");
        let oDel = o.parentNode.parentNode.sectionRowIndex;
        oTB.deleteRow(oDel);
    }

    function GetDate() {
        let _Date = new Date();
        let _Year = _Date.getFullYear();
        let _Month = _Date.getMonth() + 1;
        let _Today = _Date.getDate();
        return _Year + '-' + formatDate(_Month) + '-' + formatDate(_Today);
    };

    function formatDate(str) {
        let realNum;
        if (str < 10) {
            realNum = '0' + str;
        } else {
            realNum = str;
        }
        return realNum;
    }

    function SelectOp(nodeValue) {
        let op = 0;
        switch (nodeValue) {
            case "搜索单":
                op = 0;
                break;
            case "隔天单":
                op = 1;
                break;
            case "非搜单":
                op = 2;
                break;
            case "动销单":
                op = 3;
                break;
            default:
                op = 4;
                break;
        }
        return op;
    }

    function GetTime() {
        return new Date().getTime();
    }

    $("#SaveTask").click(function () {
        if ($("#SaveTask").hasClass("layui-btn-disabled") || $("#layui_table tr").length <= 0) { return false; }
        /**任务 */
        var tasklist = [];
        $('#layui_table tr').each(function (index, item) {
            var row = {};
            $(this).find('td').each(function (index2, item2) {
                let input = $(this).find("input").not('.fileUpload');
                let select = $(this).find("select");
                let selectpicker = $(this).find(".selectpicker");
                let img = $(this).find("img")[0];
                if ($(img).attr("id") != undefined) {
                    row[$(img).attr("id")] = $(img).attr("src");
                } else if (selectpicker.length > 0) {
                    row[selectpicker[0].id] = $(selectpicker[0]).val();
                }else if (input.val() != undefined) {
                    row[input[0].id] = input.val();
                } else if (select.val() != undefined) {
                    row[select[0].id] = select.val();
                }   
            });
            row.Plan_no = $("#VOS_PlanVM_Entity_Plan_no").val();
            tasklist.push(row);
        });
        /**计划 */
        let plan = {
            "OrganizationID": $("#VOS_PlanVM_Entity_OrganizationID option:selected").val()
            , "Plan_no": $("#VOS_PlanVM_Entity_Plan_no").val()
            , "ShopnameId": $("#VOS_PlanVM_Entity_ShopnameId").find("option:selected").val()
            , "PlanSatrtTime": $("#VOS_PlanVM_Entity_PlanSatrtTime").val()
            , "PlanEndTime": $("#VOS_PlanVM_Entity_PlanEndTime").val()
            , "PlanFee": $("#VOS_PlanVM_Entity_PlanFee").val()
        };
        $.post('@Url.Action("DoBatchCreation", "VOS_Task")', { "plan": JSON.stringify(plan), "tasklist": JSON.stringify(tasklist) }, data => {
           layer.msg(data.Data.Msg, {
               icon: data.Data.icon,
               time: 1500,
           }, function () {
               location.reload();
               layer.closeAll();
           });
        });
    });
</script>