
@model VOS.ViewModel.Business.VOS_PlanVMs.VOS_PlanVM
<link href="~/bootstrap-select/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<style type="text/css">
    th, td {
        width: 150px;
    }

    tr {
        height: 30px;
    }

    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 100px;
        line-height: 20px;
        text-align: right;
    }

    .label {
        position: relative;
    }

    .fileinp {
        position: absolute;
        left: 5px;
        top: 7px;
        opacity: 0;
        height: 36px;
        width: 100px;
    }

    #fileUploadBtn {
        padding: 5px 10px;
        background: #00b0f0;
        color: #FFF;
        border: none;
        border-radius: 5px;
    }
    /*input 输入框右边的上下箭头按钮*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>
<wt:form vm="@Model" id="formimg" style="width: 100%; height: 100%;">
    <div style="height:15%;">
        <wt:quote>批量添加任务</wt:quote>
        <wt:row items-per-row="ItemsPerRowEnum.Three">
            <wt:textbox field="Entity.Plan_no" disabled="true"></wt:textbox>
            <wt:combobox field="Entity.OrganizationID" items="AllOrganization" />
            <wt:combobox field="Entity.ShopnameId" items="AllShopnames" />
            <wt:datetime field="Entity.PlanSatrtTime" />
            <wt:datetime field="Entity.PlanEndTime" />
            <wt:textbox field="Entity.PlanFee" />
        </wt:row>
        <wt:row align="AlignEnum.Right">
            <button type="button" style="width:10%;float:left;" class="layui-btn layui-btn-radius" onclick="CreateTB()">创建</button>
            <input type="button" style="width:10%;" id="SaveTask" class="layui-btn layui-btn-radius layui-btn-normal" value="提交" />
            <wt:closebutton style="width:10%" class="layui-btn layui-btn-radius layui-btn-primary" />
        </wt:row>
    </div>
    <div style="overflow: scroll; width: 100%;height:70%;">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>任务编号</th>
                    <th>做单方法</th>
                    <th>执行开始</th>
                    <th>商品类目</th>
                    <th>商品名称</th>
                    <th>商品图片</th>
                    <th>商品链接</th>
                    <th style="width:75px;">价格</th>
                    <th>SKU</th>
                    <th>关键字</th>
                    <th style="width:75px;">单量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="layui_table"></tbody>
        </table>
    </div>
</wt:form>

<script src="~/bootstrap-select/bootstrap.min.js"></script>
<script src="~/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/bootstrap-select/defaults-zh_CN.min.js"></script>
<script type="text/javascript">
    let RowIndex = 1
        , htmloption//类目下拉
        , TaskTypeVal = 0
        , TaskTypeTex = "其他"//做单方法
        , StartTime//执行开始
        , TaskCateTex = "请选择"//类目
        , TaskCateVal = "-"
        , CommodityName = "-"//商品名称
        , CommodityPrice = 0.01//商品价格
        , CommodityLink = "-"//商品链接
        , base64 = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAADLCAYAAAAFif2iAAAgAElEQVR4nO29B3wcx333/du9hn4ACAIEQJAg2MQudokiqd5cJVmyVeISO7KdR7Zjx44TPymvHydvXBI / iR3LieP6WpFcVGjJarZkq7BTFDsJEiRBEiAAEkS7Q8fd7b6f2dsyOzvb7g4kSOH / +Sy23mJ3Zr77 + 89 / ZmcxaZM2aZM2aZM2aZM2aZOWnQl + fi3L8mRy59iONR2fAqAOwHQAtYIgTANQCWAqgHIApQBKABQDyAeQByAEQAQgAUgAGAEwDKAfQBxAnyzLPQAuAOgEcA5AmyzLZwG0XjV / XvcVlYgTwATBG0qTwF0kO3qsiYCzQBCEqwDMBzBXEITZABpUmDxnmlfj5ZcsywTKZgAnZVk + TpgnlyfLcuOCq + b3XWbJOmFsErhLbEePNc0DsEIQhGUAyLREEITp2lWxGeSWYU77nfKF3We3rqrfQQD7ZVneD2DPgqvmN03IxJ2ANgncRbam4yeqJUm6BsBaAGsEQVgNoIjOCLtldp + X7Tyzyx8n6HjL6nxAluW3AOySZXkngB0LF1zVMQGTfkLYJHAXwRqPHlsAYKMgCOsBrBcEoR42YGUCm9f98JA3bpDBChw7Py3L8hYAW2RZfnPRwgWN45 / Cl49NAjdO1th4dA4E4WYANwqCcCMJcLBQ + QXObluuzKYuZ1lm5 + w2apkEYl6TZfk1AH9YtHDBiQmQNZfUJoHLoZ04cbJoLJG4A8BtgiDcyiqZ2xwegPOyz6 / 5dTG9qh1H + V6RZfn3oii + vHDBVQPjnB0T0iaBy4E1Hj22RJbldwN4lyAIG6AmrFfQslG1bMDLURDFdu4A4WZZll + UZfmFJYsXHcz4Bi5DmwQuCzt0 + MgtgiC8XxCE9wqCMBMMRJkAx1u32 + b3GC / 54uZWsusZAqctnwHwW1mWn12yeNGrrhd3BdgkcBnYocNH7hYE4R4AZF5oB1m2oE20OpzTeobAaeuDsixvkmX5maVLFm8ap9ubEDYJnA87eOjwvYIg3KdOSpo4QZaJCzkezQBulkkzAbueJXDaMrEnATy5dMnip3J2gxPIJoHzYAcPHX6fIAj3A7hfSJsnyLyClil0bvuczE / 9jd3mFbwMgNPWCXi / JNOypUuey + gGJ6hNAudgBw4eul4QhAcFQXgIQKEGUabAeV1mj3Pa5ueYXNThMq3PwQEydh + 1jbiaj8uy / MTVy5a + 4Xrxl4FNAsexw0ca56VSqY8IgkCmOhYit3X4cCNz3auks6sfZ852obMrht6 + fgwNDSKVHEVAGENxvsy9zkQSSEmiMkmyCEEIQhRFBAIhhEJhlBQXomJKCWqryzCtKqr / LyfYeNtcVM1pvVWW5Z + TafnVyy7rbmSTwFHW1HQ8ODwy8qeCIHxMEIR1dnD5AQ4 + ofOyTizWP4KtbzWhveM8RkeGAHkUkUASkZBxDh702W5LJGWMjBIwCYwRlJVGsWhhHapVEO3A8 + tW2mzbJsvyzwKBwE + XLlmczDSfL6VNAqfa / gMHNwL4hKpqjnA5Aec0R5bQ7dx / GocbTyHedwElkeGcguS0zWlZ2zc4BCRSaQDnzK7GrJkVynav9Tg / 21S1 + /GK5Ve/mVFmX0J7xwN3rKmpZHh45GFBED4pCMK8bGBzUrVMoIsNjOC1bY1oaW1FINWH / JBsOed4gsbbxl9X1kzrI6PA4HAI5eVTsGp5PUqKIxmpnMP2JlmW / 1sUxR9evWxp3H / OXxp7RwN34OChDZIkfVoNjLiC5gYgb + 62jV0mkL3wx70433EWxcEB23NfCtDYe4cLdOljBCSTwPluGfn5JVgwrxbz507xq2hO + 56QZfm / Vq5YvjmbsnCx7B0L3N59 + /9cEIT/JQjCYq + wORU6pzlvH7u8 / 2gb3ti + D6HEBYQC5vS7lKDZ3a8dZHbQ0eunWhMQhAJcs2Y2Zs2I + oLOZv8hWZa / v3LF8v / MokhcFHvHAXfo8JG5iUTis4IgfIZuU3MDLVPY3KA7dqoTL / 1xOwrlHtjlxaUGze6 + s4GOrA8Np9DaIWPmjGqsW12HYFDwDB3nOGLfk2X5P1atXHHcf8m4OPaOAm7f / gN3yLL8OUEQ7vQCWK5g40F3vnsAv37 + TeQnzzte80QBDTmCzLqeXj7dOgZBLMS6tQ2omprvGzxqekmW5e + uXrXyZd8F5CLYOwa4t / fs / ZQgCJ8nY4V4hcwOStgUTnY7b07s / 9u0FYMXTiAckFyv + 1KCxt47cgYd / b / M67F4Ch2dAq67Zjam1xRlCh4Ze + XfV69a + QOfxWTc7YoH7ljT8ejAwMAXBUEgU0E2oLkVTDAJym7r6BrALza9jBKx3 / P1X2rQ4BOyXEBH1vsHkmg7D6xb04Da6iILVHAHcEiW5W + Tac3qVTHvJWZ87YoGrvHosblDQ0N / JQjCw5kClglsPPh2HmrBW9veQF7Ae3vtRAENOYPOGTLeev9gCm3ngGtWzULNtAK / 7iWZfijL8r + sXbN6QtTrrljg9u7bvzaVSv21IAh3e1U1L7AhA + h + v70RJw / uQFD0ly6XEjRkCRmratlAR5bj / cTVlHHTxjkoKgz5hY68 + vPNtWtW7 / SVAeNgVyRwe / fuuzUlSV8hY4lcathe3NqItsbtGd3HpQYNEwI6s + fR2TUGSS7Ehmtn + IWOjK3y9bVrVr + SUWbkyLwCJ17Ki / Rje / buuyslSf + cKWw8YwskPMK262gHTh3O7KHKu5ZLtU3970yzhds6qHWB2eZn3XzSqqkR1FQl8errjWht81U1IwM5 / fOOnbvu8vOjS2WXBXBv7X77 / lQq9U8AVmV6jlwp3Egihddffx1h0T0S6eWaLtU2f5AJFsgyh87p / gU0zMxDMtGHLTuaMTKa9PpAXSUIwj / t2Lnrfrc0v9Q24YF7a / fb5J21 / yMIwqJcuJFOasbbxs5 / +sJulAWHs7qniaFy2StbZtCZT8qDjmyqqwnhZHMbmk52O3oplC0i5WT7jp0PuR14KW1CA7frrd0PybL8VQDzvBzvFTYnNeNt0 + bDCQljnccyvp / L253kQ + YdOvvrsYOupDiIgrxRbNlxCsmk5CV / SSf1r27bvmPCQjdhgSNupCzL / yAIwpxs6mmsuYHlpHAv72xCgZib17UmDnzZK1s6GAIX6Jwhc7quWTPysO9gC860xr3kNSkv / 7Bt + 44J6V4GJ8A1WGz323vukiTp78gTy + m4TN3JTN3KtvY2RLK8t4sB1SBCGEgFMSiHMSAHMSgFIZPCL5O / AvIESXlwFIkSCgMSioISSkIp + qyXRNn495ee11bnY3hkAG9si2H92lpH6GRZJuXm77Zu2z5y3bprf2N74CWwCQfcnr37bk0mk39L6mxwgSoTywa6ZGIsY + DGC7TzKFCnQrTLhTgnFSpgQYY + F8hcSq8LkrpP0pZldZl8eSSBskAS5cEkSkNJlIdTyjSrOKn + T / 2 / c9fBhc4fZIJgD3tBfggL5obw2tbTSqfoSJjvoKnnXCTL8t9u2bptcP116y5pkwFtEwq4ffv2rx0bG / uKGnVyhCpTdUMW0EHOPjLJ / g + /284GojgZKEN7oBgdYhGSWq1Ahg6ZQMEGCjYykVsQVMiUZSm9TKZ+KYz+VAitCZmMKKnvI8c3FI5iTvEY5pYkUVMoeYDO/t78KBvv / yxbWILDjefQMKsCpSVhy2 + 19mJSjmQZX9m8ZWt8w / rrLnnjOEyp5MHGs + H7SGPj3Fgs / k22BwkZ9CYTuOjfgVM / c6u / 8QD8zi9 / h7x4a0b35 + V / 2m1rD0VxNFKJo6EKDIqUxmrZoeULDRwo6CR1m6poggagJFPAGfAp8xQFXEoDT1LmeWIKV5UksLg8ifllSYSDgu6G8tz3zNa1 + 7df7 + oZQ35 + AWqnFdo2jEuSpPRIkSTprzduWD9u3cC8elwTArgTJ0 + WdHZe + FfSN9IrYH5BhAtUvILPzh97dTcGT + 7N6B79AtcvRnCwoAaH8qsRC + ZbT0hnhQYWVPWi1I6rejpohtpxQaPX6bkKHjlfCBLmlSSwbGoKC8ol5IWyg8zv60DDIykMDoqYPStKA8aD7oeiKH7punXXjsuwDV6BmxAu5fnznV8SRfFhu4t2cg / djqe3eV22m29YNhcvZwCcHxdySAxhe + ls7CmewXkeyqaZsUxBBnDrcLKucGY3UzapnAwE1OMUVZOAgLosqvvJPEVKvqScNyEJOBwTcaRXUs63ujKJDXVJ1BTz79N53RoxhYt7WZAfRGGBgCNN3Vgwt9xyfgIc2SbL8sOpVIp86 / wfuJl0keySK9zWbdvJ + 2z / l37FJtcqBx / qZoUN6YKgrnzzsU0oGbzg6x69upC7S2dha / kcjAWCDlkjU2Bpc7XOQisbKOAkBkATeIaLKeig2ambpLiX + raUZHJLBUlSzyNhdjSFDdMlLJmWmbJl8jpQ85lhLL6q3E7hyJy82vOX12 / ckPP36S4Ll3LHzp13pFLSv5GXR73A4xdEZAUaf / 726Q7sevm3vu7TDbTOvCheqF6GrvwS7RcOvFF5QIEnMPU4uwCKXn8zRSo5UcsUZ55Kw6QvpwwIzcCl1ZHMyyMpvGsOsLL24kB37MQArl5cYXEtKejIS6xfuOH6jTl9c3zCA / f223vmDo + MfIcMi2AHUi4gRE6hSyfZ9154A2LLUU / 36QSa8lQuqsRv6lcjKQbUH8CcLdqiKenNKqccIssWl1KQrS6kwK5L7DKlepJZ2UzgpSTOskRFNiUDQklGdYGEDy4WMKvcGapcvIN3 + Ggcy5dMUZPCBJs2f0kQ8BfXb9yYsyCKV + AuWU + ToeHhzwK4k71QFhbWeEA5GX2Mn2XtUO3X6lZl / tn33IBE9Szf98xeb1O0Gk / NXYdkOAQERcj6JBhTQJ3obepx5DcIqceTeYg6h2k9oCyD2a//z5Bg+v/KcSHqnKEA5HCAWrebApADYnoSzVPHkIjv7AB+9JaECwPak8FaZ3NbB/XgM9LVvL54QRRvH+iypDs1v1OS5M/6zsAc2CVRuDc3b/1zQcCjoijqo2s5KVWmSodxcCmNpy7wwr6j2Pf2HkRH7ANfduduK56Cx6+6niHayA7ZJmf0kD8bQGHVDbQryTR6y7wIpbWpQFc/iam3qe4kdznJqh1/fksD8L7FoQyUzl7Z2PW9B3uxatkUnlsJSSKDgUmP3HTjDTkZgm/CupRvv713w+DQ4PcFQVwsivYwuUF2UQMmTOCEnW86cgonjh5FoLMNoeSYkbg27uSoGMSPrr4NA5F8a33Na46wzQLQ6nIwRy1NARVOu5zasG0CS+KBRyBC2kXUgaMCKTpw6nJSC7CYXUsj0CJhSp6EB5eHML8qOG5DOuze14PVV5eboJNIo7+szA8B8v+66cYbsh5sdkICd+r06eKWltb/IiMia8Cw4GSjdLxgSW7VzR3Iju4eHDjfja7+AfQPDWNkaAhjIyOQxsaQVH9zYdpMdMycZ84BAYgIIooDAoqDIopFQVm2y6LiAFAeEFEWFFEgUhU9NYsIH8OSjJGUhBFlLmNUkjEsSRhJymgdSaFlOInTwwlcGEkZwMnmKKUFPKouZwZONiBTgFPrdkkraLryqduunSHgnmURFEYEB+i8Q8au79nfjeVLyuzqc08EAoFP33D9Ru8jQHHMK3AXtR2utfXsJwE8yBZcMAWfNS/72HOxx3hdNsPkNhdMdTvyp6ZiCmqmTklvEcz7BErNtGXt98Z24y8zczTW0yQLMmjPU7ZdJgA2jyRweiiJM8NJHI6PYX9sFC2DSQUOOUW10wlp8GRBbZMjsJOXcUXVj9XmgjYXFOhkZVFWXWVJDx8IgoTtLTIazw3jE9dGMKeSLpJ0Hc6+zua2vmxJOQ4d7cWi+VElf6m2OTJ/MJlM7gHwbQ/JnLVdNIXbt2//xr5YjLT2z6PVKFNF8+JSwkbN/KqbnSvJgmSCzAKWFTC7ZZiLE7uBkzHmBRl24BnLPACNedr97EtI2BMbxd7YKA70jmJ/7yjio1QkkqqrmRQuSdXnaBczqbmWkhH9pJZFWcKdC0J49+IIlb/85gBvSmcsj4ymcKa1H7NnFvJcyyZZlh6+9ZabM/5qz4RyKVtaWgInm0/9hHwyKp2QIjKtv7ntgwewLOtQAWJdRL9zOINoBswAybwME2Q2us62E7goXCbQ8SHc0zeK1zqH8fr5IRztG7M2FyQlxqVUAaRg1OuBGnwpM4Ck6eDTGwoRLQjkFLr+gQR6eoZQXZXHcy1/npeX9/EN669LIQObUMC9uXkL6Vbz36yq5aL+5had9Aqd29yvyllVz7vamTPGTB2dYTzIYFI42bTLAMwKnQksB/hk7fcycH4kiVfPDeO1c0PY1TmCsUTKXJ+jIUuqEGrbXaArDMh45MZCzK4MZwCdff63dQyhqEBWXu1hopZE7T552623/DCTMj5hgDtw8ODcrq7unwmCuI6omp26+VW7TBu83dxJC1BZqZ0TiODCZg8eL7s4Kkf5k86q5gQdX92c5oOJFJ49O4inTvXjaM+o2aXUgKPg05sP9OCJFTrSMfqRG4qwsDaSU+gOH+1Fw4wI5VLq4G0jX8m99ZabfTeIewVu3Bu+Ozu7PgpgHRuE0IxOEC/b4fHm6GPY4837mG2WCzXmAncO/twOMhvABM6ycRxdwOiJWlGvRzD+6P+P9wCwXL/bw4Ga8266MCTigfpiPH1jNX59Uw0+NKcEhfnmxnJQjfbKRBr0xXRDOUStwVwA1O0JiPiPPw5g96kR0z+zD6Tw81hb17YtXlCOE6eHrHkPYZ0kSR/FONq4Ktz2HTuuHxoafkwQxDqeuuVK1by8++a0j070TNXOubAasLrv00sIJ3N42SWblywK51x/y4W6aXP62wDEhpMSXmodxE+O9KKld8zqVvKUTgukUKonSjLuX1OAmxYWelA6+zyntyWTMtrb+1BWGmRVrlWS5A/fecdtb3gv6RNE4QYGhh4EUGenbjzzq2pON+p3n/6cs5Mu+we80x0Zc0+wCQbs2jG2CkepnK3C2Smdm6p5Vzf2TjXLCwi4u74Iz95Ri29tqMLsioi5exmldKR5gagatG5hmuqJIiRRwC92DuLlAwOm/6TfOn0NDt4MvS0cDiBaWqSMBsbcFCmvD7pma4Y2bsBt3rL1fYIAargyvpLQlgvYMgHQApiDG8nup0ukr8ILDmy6ilKgGVepu5e0G6nvoZ/6+j3xoTPfmz83h/sbZqP+gNVvRcBtdYV48s7p+MbGKsyqiJj7fQZFFTZBdSkN2ED1y3z67SG8fmTQcgVukNlVT8rL8hAfDJiuWbWHXnzpd+/zkSyebdyAGx4eIcOUFVr9br75hcqrhDvX3+wf2Zaz27Hmq8Dagcq4kFyFg6luR0Mm0PAZtDk0VwCWFccIq73E8R9E5lV6620zCvHUe6bjn6+vwrRo2AqdmK7HGXU5QW1cTy8/vr0f25oGwZpXZWNt9qxSdHZpLQH6A68QwLgMszcuwG3ZuvVe7YL5XLgnjt12vwETv2YLmn2xMm316prx1Y6qO7KuJejgiWByJWFSOANgY+Y94GN/ZzbMcc/DlzwTeDML8fTddXh4ZTlCkQDlXhrqZgBobJdEET95M463m4dcy5HXh3VtTRnGEnR8QgHv/hdefPleh2TJyMYFuMHBofu4dX6O2mUTifR6rKeMYBcsoNlJnBkoh6uwKfRmNxKcbbrCca6ZdiWNezNUze7S7eg3PShs74Sz4iW7GO8iHBDw8LIy/Oqe6VhZV2C8jqSqGyjojGUBsiDgv/7YizMXxjKCjt1eUhJGd6/AigNZu8/DXfmynAO3dev2u40LZZ57HhnKRPG8JrT9P7XbYPvcsNvLP4OdpNBgqRvocLXxILBrb6TSVjCnsy3gHq5dO8DkVjIX7uS8+En9mqIQHr2zBv/vLdNQURKi6m2qK0m5lprypSDiuy93Y3hMsvw3r3U4evuSRVPRfi6hbtcPue/5F16828etuFrOgesf6L+HRcuu7OdSxTL9vbHZWgxtGXQqUD7rPhYIKNj0Y/nugn4835VkHnIOcy8Acm+DuQfrD/jntHs43jSrCI/fNwPXzS6yuJW0wmn1uZ5hCd//XZfa5uHBi3F4kJOpsrIMo2Ompi/yg3v4KZKZ5RS4nbveugWAyxPBn/uXq2P9XI9/0Ly7Yc5qJ5jnrNrZ9KgBGOg8AG65AJNbaW/uKc4Hz6sVhUV88/ZqfG7jVBNcrMJpEB5sG8Nvd8f0uqrpX/sMuNVUF6LjguVt9Luf++0Lt/i7C3vLKXA9Pb3vVyM86UtmnoQA7wnubplGJJ2P9XKQhwP8FFCbsujOnwPI3MZ78+95yuSsau4PEKf7cV9zt/sWR/GjD9ahMhpW4WIiloKx/vSuOJraRmyh8wPekgWViPfTH2wRSHl+v8/Lt7WcAbdz164lsiy/N5tz5BpC53qdvyLgVJhcj3d0wRg6LPD4Lao+XGPPDx0XL8DxPP48Gnp9XkUEP71/BtY1FJkjlprCCYb6/dcrXRhNSFzoeP/HbnthYQjxwRBzDN772+dfWOJ4Ix4tZ8D19PS+G8BM655cuH0Xx/Qrtb1ks0R4EUCbFctmPwxwT2NXZ3MLcmT5fz2fK8N/QFzMf35XNT5+zRRLm5wCnpAG78JACj9/rTv9rwQ+YF7bb5ctqURPn+mzZDMlSX53ZndgtpwAd/jwkQJJkt6lrfPuKdPqVm7qaZfSHJTG/e4zvm77hwcvc7xexaXLiw+vKsdX76xGiIwMxgNPFPHm0QHsP2U0imfa5BQOBZBI5bGb3/XiS78ryPY+cgJcT28vgW1DLs71jjEPbth4PWvMLq2vH11S29BQiG/fXYPi/KDeIwUm+ET84JULGBg23iH1W4fT7OollVQPFMU2jI6Ovsv2Bx4tJ8D19cVuy8V5Jk2z3A8pb7WL8T9ybwuq8vC9D07H9HJzMEWDLz4i4xebuyz/16+nRN5qCYYL2c1Zl/OsgTtw8NBsALfS23hv8Yzjl64muDGvz3BX+JbNGDLWt8Ed/rXLv5E9HHMxrbokhH+7txazKyOQ1TqcEkBRpzcOD6Cte8xyRX764EJ5b64C3X0mlbv1mU2/mZ3NrWYNXEfHOdJGUW9/RHY5NZ7fpLP/px52yH7vzOZo2XGvb7MHjR0x1tPVjeNR2VlxJICvv78GdVPCFveSLP/kD+czdic1IyonydqnwpS7IuU8qza5rIEbGRm5MdtzaDbecLmdP5f/3V4VtHFGZM4PzB++gY80kdkfcgDzq2zGMdYDvau18xPF9/1RVpwXwDfvrkG15l5SKtd4dhRvNaWHmswm8LZ44VQMDpm+fJtVec8KuD179i5IX4DnnMuZa8nLAHabY2Z6uRCZu2guzC5KJ4Nb9qlVFkAOKG4PCtmctpYz2Z/aXu9k0EMQZWD8FHMzP3lI9kXzA/jGXdWoKA6Zun6R6bHXO/Vj/bqTmkXCAcQHTZ81vvGppzctyDRVsgKuq7t7I4BK6JnKJhbvV+bX8L3YeCifw3M/g2Lm7l9yFYGZs6pG37c2VLexbt5mSn8HtXOF3MsDhLsC5pz8YzIxt/wvLwzi6/dUo7w4aFK5zngSbxzsMx2bCXTz5lQgkdBVjpT3jZneS1bADQ0Nrefv8QKezS9tDvaiaJmc1zG6wNnlXBjN44HwCjRb4PlzM3x88FgFNENqcU3t7snMmpcksKw4usi8c+XgAcqeo6okhK+9vxqRCKVygojf7Oi2HOsXOvJmeFdfUP2/ysym3LtbxsAdOnS4Spat/1i2zxmL+YHL7Ry+3EneFVoWOA6Vx8JpOtzOnbOdUxByQONN2ulYtTOBQJHn4GF6uAeXX2XAUqZ5x9r0shC+fOc0CKKgd/tq70tgX/Ng1h0oqipL6Xtf//Qzm6oyOU/GwHX3dK9LR21kD80A9m5kLlTKbwZxr8OyYGzgu19U4fWoDuY5R90s0GmgOZ9blmU9wXmupVntHIjnjNrlBJi7ezk+5lSOls/IxwPXlisupdZc8NzOdLtcNtA11EfRE9PdyvpUSlqXyXkyBq63t2+teYvsuR7n5YmWDVzZPDE5Qmfdxz3AocBy5/RPbaCjLsZW3SwKxw5ZByvcDpfkJW2cOHRKI1axTUd6zDMvZeUDK0tx7bwi/a2Cw63DONE+pOzLFDryu2QqX/1/ymyty0+4lvHXc1IpaY02lj9r5IIE5QNkgprYgrrN3//QvnLidbvfcxrLsqXvkmULdTuyQN+Zy/+D+Vg1NSArnYkJNOp7VwQgMv59PI54fz9pbsHo6CjGRscwOjaGRCL9NnIoFEIkHEY4EkYkElGmMNkWIdsiKCgoMEFIQ2ZstK9j0hfueCh9bjsvgPFmeXnh1di6rNs5PntLBS70jeFkxzAgCfjjvl7MrbX0HPFlM+vKMRBv0/7zmkzO4avUajf39p49806fbnlbFIUibXDX9Jxeth/4NX2c98Fe/XxzAFQI2G0d1BNPf6s64wFfvc8HhgbR09WDzq4L6LrQRd60QCweR39/Vp8o062oqAhTp1agYsoUVFRUoLJyKqqnVZnVztdgsM7fGNDnLgPDmqOq1mV2n7bOfiCf/aKp3fbu/gS+8FgrRkdSKAoCP/78AoSC2TU9b9vRhCmlyv8gg2Su/NAH722CD+XMSOH6+uIrSL5a92hPbHd186NeWsL7VTt2n5sy6orFyhLnGC/qplln5wW0t7XjbHs7+UYeBgetw7zl0gYGBpTp1KnT+lmDwSBqa2tQW1OD6dNrMXPmDBvX17hPy9xFGO1re/bmtY0xk+3lRUF8eMMU/PDVTgyMSdh7sh9r5kezSulQmBR75cFYJMsS4aDJz+8zAi4Wiy2j4dLdIsrMkGngmT6E59tldNquWS7gs0DF9wsN99I0l5EcS+L0mTNobj6N5lOnMDw87Jqm423JZBJnzrQoE1TXtH7mDDQ0NGB2wyzkF6j1E6e6J8xzRwFXO34AACAASURBVHeS8Sed6m9sPjmZnWtp99ubFxVje1M/Dp8eUtrksgVuTsMUtJ+NKR1bZBnLAPzSz+8zAi6VSi0TBBYyZ3Wzq8NlCpebhHtVPn1Zv0ArVXp9i5mzxx0/fhJHjh41KYuXa7W7xvE0Uic8fuKkMhGrrp6G2bMb0DBrFqZMmcKP7dBzx50O7X+c+8smYAIHCLXtn765An/12Fm81RTH8GgK+ZFAxilbVhrB4UYRU6JKxHKZ39/7Bu5I49EoIC/RC6ODuvGDJ1Z1s4PIzZV02menZrYga1fJPiBc1I3UwY40HkVTUxNGR9M91Em9Mltg2OvPldmdq6PjnDJt2bINpaVRLF2yBIsWLUAkHHFQO8ewizWNM1Q2N6Dczqe4lhun4IevdGLPiX5ct6jU4SrdTRCIN6B852DJU09vit77gbtjXn/rG7hYLLZQljHdTt34KqdB5hypzETV3BTPTx2PewwbVYSAxNgomppOoPHoUXR1devH8kbRQg6AGY9zOZ0nFouTb0Ngx85dWLRoIZYvW4qi4mKO6tnJmjVYoplXZWMDJ+xxftXu+oVF2H6sH/tOxrMGbkp5EaSEAtz00dHRheRDUV5/6xu4eDx+VXrJDjJ1L6MUtNo51eGyUTXN7NTMTuks12O5+PStDQ8N4+09e3H0WBNxq22vhTUvhdyr5epcXiAm9b79+w8oE1G7NatXo4DU9fh8eQ6aeK3P8X7nFzR630dvmIJ/fqrD8/+zs4ZZURw62I5weqyhq8YVuIGBwfnguV4woPKmdu6BE2Soajxzg810fsZ7HEskcPDQIezff9AXaKzZFfLysrLTJdGSprLS0uaCgvzTkUjkbF5eXkdeXuRCJBLpGRoc6i8tjQ7X1tYmYrEYyWbi0xSTnw4MDEyNxeLVfX2x6bF4vL63r6+hr69vXiwWryfh8Wyui7YjR47i2LHjWLpkMZYvX45IWBvZyluwxE3NnP5/tqBpVlkSwNWz8nHm/DBmVuVzf+PFyJgnsYEQppaRtlF5vp/f+gYukUjMNdqxqMCCD5eSdS39KpfXfV4Bo7ezKnfixEnsemu30hANtX7GXpdfKykp3jujru6t2Q2z9tTUVO8FcDAajXoKZUajUZLLZIoDaItGo6itrTUdE4vF8ru7u5ckU6nlXV3dK86dO7+6s/PC8p7eXtfzO8FHAN63/4BSZ129aiUWL17EeX9PnXPO7bUOJzPtanbHZ7LvA9eUYu+ZgayAIxYO5yvZIMuY6+d3GUQp5dl8yJijbFxKGkiey6dZNi4lbNxKJxeTtf6BAWzfsRPt7R3c/+mnXhWNlmBG3fQtlZWVr9XWVL85PDy8uaGhYdTxR1kYgTcaje4CsGve3LkEwIg6CM7GjnPnb2xv71h/rOm4a3OF3T2SCOe27TvI99txzdq1mFU/UztIO9o0z6QOx7NsISRWGBEQFlPcY/xYtKQAclKJlfgacsGXX3Tw4KHyg4cOnxZFsdjac8Taw8RLjxO/PUn87AenV4nTPm1+pLERe/fuh1eXjDY6w+fOnd2+YP7856urp70I4OVoNDpukHk1Fb47yLBvJ042v+fYsaaaltazvs7BFuoZdXXYuHE9wuGwaT89z2TZrieJzOlV4mWftp5IphBP5KOhOvNR7zq7hnG+/QQ5X39Bfn79Bz5wd4+X3/lSuK7u7hmk7mAog71LyXMx7epvmbqU7H7YKBvvN7zjSO+MLVu3o7u723QuP1ZYWIjZs+pPzpxZ91Q4HH6moaFhl++TjKOp0D9LprLS6Jpr1q6+Z+mSRfc2nzo9u/nUGaX/ppuxytd69ix+85vncMMN16NyaoW2w5I/XpedlMrLMbx9NPABUcD5rnhWwFVW5ONYo4SSYhQPDA4SLnIPXDKZnE7D5gUyt2AJW/g18wMX7xg/0Ulix441KfUT8hTMpJ5WVlaKJYsW9tbUVD8G4PHa2toJBRrP1IfBrra2tmcWFxQ8tGzpkg83nzpddvBwI0Y89o7R0m9oeBgvvvQyll+9DEuXLjHV4fxCx5qfOp1d0IWdz64K4GjLAK6awemh6NHGkiG1HidPB7DPy698ApdQa+fZK5pbpNINPvYYu+PcYEskk3hr126cbWuznMNLCD6/qAhXL16IeXPnvCCK4o/Lyso2uafkxDL14bDr7Nmzry9dsvgTVy9b+u5Dh49g8/4DCI1484K1tNp/4CA6L3Rh/XXrEA4bY/T7VTc/gHlROnZO3lFt6YhlBVwgmAdZVjo71LofnTZfwA0NjUyDbUCE10TgNM/MrdTM73E82AYGBrFly1YMDDq/EcwLHgzlFWDDimWoLS/tz8vL+54oio+WlZW12Z7kMrDp06dv6u3t3SWK4iNLlyz+zMIFVxU/fvAw+g8eRCSR9HwD586dU9Tu+us3oDRq9F3MRN3oYzJ1N63QpbdfVZOdyhUU5KnBYkzz+htf7yqMjY1W2j0x6MhUepPT3L6NJpOE9XIsu3zu3Hn84Y+vYXBoyDEowwvStM5diD+/7y4smzfnmCAIX6ytrf3flztsmpH7iEaj/xvAF4PB4LGPLl+G0L33oHFGna90IhHQV155FS2trVmpmx+V8+pOamUzLyyg40Lmr0QVFka0c1Z6/Y0v4BKJ5FTYwOYOGT23Swir+QXL6Xht+eTJZqXbEmnE9lOIzhWW4IU1N+EL165EIBDYDeArDQ0NP/SThpeLRaNRcl9fAbD7UwUFGL31Fjxxw/UYjkQ8p5ckydi+fSf52EtW6maXt16OBbesQS+LdeUShka8qzdtxUVh7ZxTvf7G79t45dnD5pQQuQHL7jfEDhw4iMNHGqnmDPuXYelp59QZ2LT8evx4XjVKROwB8NVoNHrZ1df8mHp/XyVDkD4KGalZ9fjue9+Dc+Xlvh5UpKGcPOAyVbdsPB0nhSPzwoiIo6fjGaVPWTQC0nIky3K519/4Ak6W5VKMI2yc/+cbKqcMO3jwEEibk52raAffM3WL8OzMRfj36kICG3n35hvRaPQFP2l3uZp6n98AcPp/BAGpokI8evsd2F9f7/lhRaa2tnbsfnsPV3m8WKYg2pc1o0yOjQ5llDvFxWHEB5RGdM+9of0qXIlZjZBT2LJRN7ffNjUdR+vZNs/1NDKNBMP4z4Y12D1lOv6sLIJr85X3qL4TjUaf9Jlul7Wp9/udOsj4tCBiLBjE49etx++WLFUiYF7BI2+7k6YXuzzPROHszkHvs5+ny2ZtuYwzHZm9hZ+SguRcJV6P96twxchY4ZwgszZWZpLwdr9taWnFqdNnTCpmTAJETuG4EC7A92asQmtBFCWigC9WKn3vfgLgu37S7Aoyct8/+bQA1AnpfHh14SI8vvZaT16CNpE3zsnDz1yOvOel1zJh7HeHjrx4dfZ8ZsETWVYC/cVej/ercPl8UOAKG30s/7fe3AyvT0RtunChS8lg+yevCIGBsC1Sgv+sWY6ecL4Se/2zijwCXTMpcNFo1H9/ryvA1Pv+SQnk5gdEo5lkX90MPLrhRowGQ55ddNKPk7zs6iU/vZjd72gVcyqD5JiwkGGvO0F52dhzT2i/CpcHV5Wyqpaz6vHVLxcZQbpqkQo7C1S6X2da2Vh1Ox4pxQ8qF2M4YDTaEuAAPBmNRrf6Sa8rzdT7f/IBpsny1JQKfG/9DRgK8yOYPPj27N2njFbm9wHqR+Fggk62FQWyrzIKtHX6r8sJaeAs3ye2M78KF3KWZ283aA+Z1bW0M7dMIH0CDx9uVGLAXFVTlY2GsTkcxY/KFyIhGGNe3F4SIupG+sn9xmdaXan2mzqgZx0DXUdJFD9dsdZz/ZhMBLrh4ZGMk8krjDzF483PZdAmR8oR4cLr8X4VToQn2OAZNjNk7L7MJtIfkryVTbptCayqUcpGq9v5QD5+Vmx9tWl9MEE6M78ejUZ3+EmrK9VIOpD0WDHC9LWUgVPlFXh6wTLX+rE2kXbQAwcPeXorwI+XYy1DVheSV1alpH+FU8ev8cyRX4WTModN5iaAM4CZGQmSDA0OMZktWpRNg3FYDOKHBXMxKlhHc7qxohglJSWTsFFG0uPGiPrNNCabtk6vx47qGbb1YxZGMvjt6dNnPLmImQDJK5dW+NL7ygtl9PVbP1XsZIICHDzX6/0qXAI+YaMhs6u/5VLlSL2AdJ41gHJWNjI9Ea5HXAxpN2ma1+eHyRiO+33lwhVuJD3IwLKW17rV9V/NX4LTJWWO6kbDeKallYyVQ5czz2rGKaPMOZxVjS2frR0DvjIvECAP6TQXXswXcIGAOOJUV7OXb1hgc1a5zBKcDHpz9mwbA5WdsqUhfEOswDGxWC8sdNVkYZ6ueMf9pNM7wI4voROKzh41r360YDnikTzPwapjTSeU/MumKuGkbl7KJJkPD/t0K9P/z3NF1BdwwWBo2M41dALRXu3sVM57uxw9kQ7JKUlSvg8m2CgbDWIn8vCCUMmOCKDPSwJ68mQ/1NOVZR1aS6+gp5lsJJwMDIQieKJhkadgFcmjsbFRpY0u06oEr+zYqZsZTHMZLQr7ax5Q/4/nobV9ASeKYj/AwuXsWtrfHF/l7MBzm0jv9N7ePhUo0UbZDBDJl2p+nqqBpNR3+cN7C75GyX9nWSvoB5SsDwkvUA+txmgFNldOd3XptXwiVYH+/oGsFI0HmpO6sfuDYgpdvd4jp6kUqb7JnsObvoALh0Nxe8jsVM9d5axQWsFzs3PnO12VTaQg3JYsRYeUfr3CTuHaRvXBZqr9pNM7wKpb9QeToWp0+gnqvueqGzAYDNu69Gw+kQBKplFLaxmylkMnAdDmnV3eu3mlpBT5jefez76Ai0QiffybdHYp3VTOKXjiZSJfoxkdGTUBZWSwYJpIBqcEAS+PlTEFRntKp9cFMlbHqB588jUU2jvA5h6SKMhMsMmUpwCMikG8WlHHdel5dWsyBijxVPy4lu4qxy+D1od/eq4NiejFpHS9s8/r8X6B62Fvzjp3UzmZc6P24LGJxZvIcOMmdWNUTZu0DH5tOIohSeQUFmsBOjuW2UcbrnBbdjAlWetvtNpR6fl6eXVa5VgPxMbNJN5K5grH87rcQDP/XoT3epwkKQFKTwMIwS9weZHIBV4dy17Cvd6kvUtgXrba0NAQksmUWd0YVaMzelQW8cehYgYuOV14KHXTtv+uT0n8a/yk0zvArnkppQKmpx30OZ2uZIH03Hm5bLrVA2Hq1xqEyWSCDOfnw4W0eyjbqRxdBq1xhHDAe1ucLCkKd8Hr8f4ULi/SyYeFHzjx/nThJYA3deuLxQygOKrGqtsfBoowrKubbIaNnqtu0faYAtwNsVhsErr0uJbXvCThhpgFLjo9rSD+IToNw4GgQ+TYDOKFrh4LVKzZP6y9gMaKAnWslEJ8wCN0ggJcp9f08wVcYUHhOfaJAripHA8867Fu6saDb2hoGKmkZABlo2w0jDsH8k1gmWCDeZ0UnN/3jhG3krzRe5eftLqC7a4fJFLlgmSGy3hgqTducivT8L1dMMW2fs2CmEwklIilZl5dSe9ek10zVXp7LO7uVsrKfY2R+Tmv2e1vTJNkos3+Bv2ABxuw7NWNBRXKWIhD6QxzULY0jOlMPTocRl9S5MNmWTa2fe9MD+lPeV9zc/N1VzJJbkbu/+W++H1bU1Z1M7uVsnmS0tt25Zdx69d2ga7+gX7PkNkBZRf+d/KsyLaBQXfg+uJjKMhXfut5AClfwFVMmXKWf4P+2kD8uIx2CU16JSQTqbQ74qBsApWxu8go33rBoJ/KVteS3v9En4QuMdwQiUQ+3tbWlt1X2S9TI/dN7v8b4fwGk7pJshUwGkDJ2HY8VITeQJhbt+aBODw0onRw9lMuvKqc8354GoG6r29EOTYYDHgeK96fS1lY2BIJR/rtL9gNPOebtD/WmpDka6OC9t0C7iSYYByTBeyJhyiYzKpmgU2C6di/v5BCQUHBxwsKCj53ZSDkz8h9/0+k4ONHZCq6K5nVzTJJ1ofXjkgZt25t98Ak1Qba/ADkVdl4KpdKuneP7O8fJceST4m1eE1MX8CVlZX1FJcUN7s9UWALnn3djk0ot8QcGxtzVjc1I7WMPRQPISmZI5CaqukFQmKCJ5KxvD2ewNN9CdLb5i9isdh9mRbcy9HI/R4RxL/4+wQVmWSVTaKCJZKRtvpDTEoD2Bgo4tat7QJdZAj1TLwg+0i3M5hGXc596LzBIdJeJzc/+MD949MsAOUzPcUn+RdvBcj9CeTNFWCntJsBjrpRGcgA2DwYMIGmuzuSCpqlkKjL1FP6L0/HcWQkVQ/gb2Kx2Lsvf5TcjdxnHPibu0ZS9ab0outskk2TAIGQSdtmMU8ZlsBroGtsdMzFreTHErwonlMcQfAA3OgIcSnlk37S0zdwpWVlx53gAkfdnJXOfwKS+hsLVHoyV8BpGE8OiIaKSVrdgnErqQIl2Gz/4PE+At0KMl5jLBa722/6XU5G7i8OfPWuEWlF3AQZpWSM0unqJjEPLhXAMVlEq5jnOdBFppGRUd+qlgmAxnkIGO7AjY0p6uvrTRLfwJWXlR7zdvP8CJLdTXtXQ1kZ0VfgqZpghJdpEJMQ0NKvPYllq1tpApAKBkjm+gdZjiUk3HciRqBbBeDrzc3ND19+KLlbLBZ7uBX4+l0j0qpDKS09KMgo0Iz0MtxLk7pJhrtOjj0p5HkOdJEpkUjq+e7HE+LDCA8uJrkPd+BkSelofcxPuvr+Amp5eflRs0oJFsjoeXpZ+2wVuwxm2X1dkXsB1DeLBfpnugnUxuZ4+veCcp0CVSgEpQDJIrkZQS0kgr6uHC+l/5fyZSD1/8YJdCdjeHJ2dH4V8O22trZZBQUFl/3HPIj19vbWko95HJLxmbtGpOKYRNfJZNNDCvREu5cmGEGBml4+I0f0T4KZTc1rZrwUtYOwjymz6DcokXD7GOfIaAqhwChCofBRP+nrW+ECgcCRkpLis95vwv1p4jcxBQdlE1kXUxRxYVgw6mOUcunRSImq9Gv79Se2VeXIcjwp477mOJ4bEYrVMfh/cLm7mG1tbeT6f/BDCV8hsMVp2Oi0M7mL5v2a90AroWA6lnxvJuAp0KVNsiRl9AYBv33Xm8vpBlxbu9JGeHZK+ZQjftLYt8JFo9FYRUXFwVgsPt24KauyGXO+oqU/WcXuY9dhWdd8eztlA2TLd5SHEipUoqAXDlkS1G2G66NsE9X9YvpRqywLVpUjBMeSEv6+T8AbSQn/nod3l4pYF4vFbiAfZFS/sX1ZWCwWW9Pd3f3QWF7ehx9JouxF8pETOtihqxMDEute0usSUyemfhOT0iBZMlDgZKe6Q+kvKwq+obODzIsQJBIphELWcW6I9fQq7uTB+++/L+YnjzNqxK2qrNyfmWxn2tBtTIKDsomUqtEBlKGk4dbQT2dT8MRSiPgFhj5GK4ivDqZwx5kBPNmfIO/8kHa6J2Kx2DdIQc4kfS+Wkesj10mu97Fw3ufWi3llLybNdS/aFbSkgUwpHgMVLz21bf1SwFOgi85nnsJlU6fzUi6TST7+xAb6FYXzPdaNb4UjNnXq1P3mJ4WTwtF1OXoZpqcbfx0WhRNVmGD6ufE7k7qpK4OJdF1CZupuZKOsFSZRMFROYFRO1upyaYWVhXQ9UlbW06rXOprC59sH8auiIL44JX/2tXmBvwbw4Vgs9jyACflRfQDv+ZWEmm8lJLQE86koIzhQGUqmB50kNmLJQmcGVYtW9khpmHSzc1Yoycu1qnl5+Kff5ubbyEgc4YB4cYCLRkv2hMPhgURirMgrcNpXTzXLFLj0KEmqCeYFK3/phcEx6KDpLiNJS5EKnCgAqgWEXKtWgHQ3khQuQdmuwaa5lso+tbK/fTCFDwwPYl1BEF8sj9Rcmxf4JAAybYnFYq8BeLO7u3tzQ0PDRYNPhWwDgI1k5D8y3OavJEABTY8eGi6kDpLE1MdkG5DoecrqAdD1Y009E4KIMHOdTC7SG9UAcq4UzdsUCPAdwDHSpRDxgalTq/b4zYsMgYs2TSkve6vj3LkbvQJH19f463AEjtRhA4G0CwLmWM0Em4VECqbCQhSKq3IqcLIGXko9llY2LYpGqZt2JwqIah1y21AS20ZSqAnK+HBEwvuD0vpiyOvVK9zb3Nz8FvnuGlkmX9JqaGjwPBCNmzU3N5Ox7pcAWA6AtBmuJsttooifhyLYFIggDoFpI6ObRKiGa5kNKlndSytk1jm7LU8017QtPoqFO3d3MncuZnoKhvjAnT4TI9fz1p889ECT37zJCDhiM2bU7Wrv6PABnDkFretwBA4wopPpPOFkGOc3xJTR7mQblRMMV4gMLJQGT3Uv9XUYbiQ4rqUOm1owKMVrTwr4hhTAN8Qgrs0TcXteANeODS6fW5i/XBnbMW2nu7q6SOaRD4aQ78+dVUcKIy829sTj8f5QKDRcV1eX6OrqIgNo5qtfbClXv75JxlyZTobRBNBQUlIyLx6P1xcUFOBYMIRfS8B2WcAhrUmE7bzNRmMl6gHl5F4qDyUWOujbDMDMdcKILGtDhOv5ZfnCukDvVS9VrceZwcp8/BO3qHkoyAfu/AVlCIiMgmLZALdz+46deh2OJIIiPjkHTtJjO9or+DwzM2g+piCk1sN094hSOXUuq2on6PvSCoaUua4GDS4aNhWu9Fw2FI/MRSifQyLKt31EwvZREhnNQ21SxnX5Mq6LBFEXEOqvDQn1TulN6q69vb1kEFbbY8hINodlYEtKxp5wId5CGLGk0aNGG9iHfRWJhc+Te0nBJvhUugJZUgJcel6zdDErgproiVTuxq10q8fZlTNi/fE+RILBnU75ZWcZA1dYWLitpKTkdDzeX08HTzTwWAC1dT0pXYAjLqRxvFYPFLgNpuxvWSuOaE92wQiaCLLFfVTcS3VucifpZQUqtYmAhU1ZlyBDNENHPQI0aNtk4FeDSfxqKJV+nggCAQ91QUH5Ht1i9elKjh8WI1gPEZEUcCQlo49Ku22p9PJWtn5PRpIm447QSaP3HmA7cWuKBgY8B/eShi3FcR05dTltvQDmAs0LdGkrdK5aXUZD3XLpYpLf2dXfiCXHek/Pml29zfYAB8sYuGg0en769Nothw83moBj5yScm4aEJI5xE27AAXZupfXJI3BcTPr/FIVEvZBpKqeBpkBEg0fV45RCpUUj1YKddh/NbqMVLkn9zJ+YflqSYIt6fSa3VJ0r9ykCrWSksJSgnPMlpb+ZFpgJ49EE6W2UMm6TLaWmkZCpdJSNeVrhYAWNWQf9VoUeLOE0DfCgswFROTaVnpeEJP3BaRfoou7MlPdG80B2Q+nJauO2eU4rHB+NM61xhAKJLR/64H3nuQe4WMbAEZtVX7/l0KEjf2IGTQPLAIznVnoBzlC5tFtpp3DG/7Ya+U1ZQYAqUIIJNKgRSQW0lApeyqi3EZdSXxYod5KjYJa5LKnupLaeBksPvGjrGnSCsa6BniZF0IM0FrjUY2R2E8ywgYYNNqDJ5j6lpr6kVF1MYPtWpui5ZIaOM58elPQHp12gCxwG7eptuQuWGDCnZL7r3nq2i2THFn5pc7esgKuqqnwzPz+vc2RkpNIJMJ5b6QU4YztU6PgKp9SS7F1uzCgNGuqmqxwgpzSXUQv9q4VKdS0FFTJlmernJ6gF3BowgQkufV0ts9orLMqyaFY3HTLtBIKxTQ/cCdqgKwx0tvpudSfZMVy4oJlewuU39vPVTLIqHXtMSkZdRE5/5gkcqnj3RFfxPMEmuULo1lVMENhGi7TFYl2dNVWVb9qXNmfLCrhoNNrYMKv+tUOHGz9E19vs5jwoNUurmWTp/ELX5WRZslE42ARc0jajLGTU4dQnu6zX42glU+twUBUupSormPocZD5kvDkPNiVTBQM0OR1cMUOmRknBAAgrXWxnX9Bj/tMJoiucBpVV4dg2OWuvE2u7m329jXYnJbWnj4zpYTUABhuqqMs01+tTHmBzrpvZu5XmYwIBq8IlEhLkRPdrH/3IlxptCqGrZQUcsYaGhtcOHjryIX49zupeGjBa4bFTOQ269G8E5njNqEo4UwALIiIqCwPoHJLSv9EbvaGDllYy7U0EVeGgFXwCWho+x8CIzCicbCidmirp+pwsGACKaZdREy5Z4Cmc2rqnA2dWOWd1o2CzKJy5Tke3yRnNAB6g49XX1Dldd4M6NRRq0WabeoAp6mzcHa+ulZm6ObmT6SkUtipc08kuchWv2V60B8sauKqqylejJFrZH6+3gsZzJ/2rnLaPdGCl22/4biRf6erLg+gcHFWhEPiupa5wUvrbzVp9TgeLCpw4RCNN7qT6izRkQrqZQFe79OtA5HZ18IT0XAcPNuom0FdEh0GNe9aDJHTSmNTOGDvSHK1k2uLsumq5QGfAJunQ1QQlVEZE5qKZHLSpkJOuVt7qYG4uJF/V6H1FRQWW/3/27LnTM2fOeJV7cR4t6xGootHoyQUL5r/CPl2sN2MN4frtkEpetbd8a0zrtMwZs57+Ntny6fn6E1vrvCxQ9RO9cDD1Db2wKAVJMh+bMtdZ6HNo++nCZpxTdbHo5aRZBbR9xvVIeqHW55Sbxh5PBy9AnRfMsdDuS7veJH3t7H1JVtjo66XPTf1GT2NJxoqooOefl++Aa5MGohts/upu/PogmZeVFprKeTIlYXSo45WHHrzf15AKrGWtcMTmz5/3+23bdz6cThc7t5KvcnzXkq9y2tAK6fOan45mtbM+IVfWFUCQe0zqlnYtqailrnBUjxHGxSRflxVghLR1paPdSdV1hCyYXUtVQZR2PDldCVQinmrbgqw1uOoqR0cotRs15rLNvYI+lBephEOwhO5doj2gqMZvu1du+E0AEqN2ElZEA6o76RzoYiPP9kEO57Y4bw926/4p5fmmqzl6rAslRZHfO12xF8sJcAMDAy/W1U3ffPbs2Q00aBLpFS66g8ZCJym9PLT6mrE9kUio0sXJqwAAG3dJREFU6qVt4Rc2mRNFmF4ewbSiADoGJLVgqb1A5HQXLxNMCivkCW/U2Yz6m3qczEBHXEYIuusIGXzYZMFoBtAA08BTu53JKnRm+GA0EYAJVLK3yyaLbaCEbR6g4TK7lDqMltdvYIWOVkcqaEK6dC0vC1L1cPtAFwukMZCQP6+Ihs1cB+S5lZJaf8s3xQqInWlp37x4fv2L3ALnw3ICXENDw9CFrq4XW1paN5A6mAYaHz4aNKOZgO2JAlOdzgCPfOghrFZoeWDBpHbmXFw7qwjPHojpmZsOYMhGvUuNWAop7dd0/Y2BTjaUTvtXWuDECpusql06OKIImrZNa3AXBbUjNemgrSmbChuoYSXo8KOzRKjX5S1CaerOxSodpx8lt1Nyiu9magCuqxBRYOoQbB/oYvMvkRjzpGZusFndT6tbKQbM7iR5OyAx0vHie9/7kM/vEVstJ8ARm1pR8UJpaemnY7G+mTzQaBeBVjxjP71sWFrtDPCGh0cQieQp+wWTz8QzwfTkvH1RFM/u79PVTe+oK6qwMcEQWAIjFHSypogqSFpXIJNrqbqmquLpAKrUKcqqwaW5moLq6gqs0sFQONqdtGOO5pKNSPKgozsw04omm11Ki6rxYNPdSMkE4B01YcexTOAQeSYD//ppBrCDzQt4+QUlpqs7dPj8mbmz615wKGieLWfDdjc0NBxctHDBb7WL5/V7owMo9st8X50cQybyaWFzwCRdqbZ8BkkPnBjHzqnKx5yKiDlgQgVS9G2m4AUb9OAEE/TAh2SeU781AiUS51wkBGsO0tD76WBG+ljjPEqwhTdp/1e9Fvr82vHKyLjJ9DECc6/2y4zLyJ2swaIpQWDF1KCvQBcdICNDj2cPm3MdTiu7U6eWmcp2W1vrbx944EMHJxRwxObNm/NsKBQazAw050quNpHvwbmB5QTknUtKqc645oFwaAAFk6vEg46OMlLzpDGnCz4sx0uW7Wk4ZNO5BRUWHVbtnDooDlOSglIFlQbKDJbEXIMX6CT+gybJPpAkvKeOqFvAAS7OcBkUkF6ASz+UnWBzr8OR/1dXG9XLdLx/bLCmKvBsrhjJKXBVVVWvLl68cJNV5XIHHfm8sBNYdmqnHXfLojLkBwQqSEC9yaxDxxYuBrokVei0Qk8X/iSnMJp+S8HGKJvyWxUmBbSkbFYz0/ll/RhT6D9pXKNxfRTUFrC1c9krnXYdJlVLyhy4zE0q5P/lQcbdDQW2YImiYJNn6Yk8ZNOA2Ecq0+UlE9jYBu9S05sC+w+2bPrTj300q7Y32nJWh9Ns+dXLntm378BDcnpYLFMdju6MzK+7kWXBFL1kOyyT7y+T5gEjcEL/9/QKvwKe3lhSIOKeVRV4YseFdKdl0uhM1+NEdawOUYKcEs2hde0tAJkOnjA9SwJUXY2cK2AELGQ9KqkO1SAKeudpiEajt1Z/03rA6P2/BJh6nAiCU/2VrcfRTQKcgAk3gGJ+Tcfu7W27Opw2f+/sfJTmp4fG8BvogvLRjLjn+hsLkRfY6OX8wnJTCo6NdD/jnMj+LOefXqqqqtq0ZPHCJ63+Mtsw6axu1nVj6u7uoRpJ+SrHV7v0bx64tgqFIdFcj5PtlI5XX5F0F02g6ke6K8kek9TmNo3eKaMeBYuLZ7h5YBSOdVtZ5aFVxlA/yaRsvLqYqb5Hu6SMK60fm2TcaeqcIVnGnywoYlTLzv0XuB5KX5+3zw/zVc47bGS5pmaqXpbf3tf+5Bc+9/FNExo4YitXrnhSlmXZzW+2QmeOILHgaVNXV5cLXIIjkCUFIdx/TaXhVjJfgzFDp/XEkCyFiufmGZAZhVGvb7HgJZmCT7mTJtBo15D9v9r/pifTdsa11FxOtp5ocnGNuhhdLzPuyXiQ0P8LlgeRhPc3FKCsIMjNBy+BrrGxUdf6m8QMFGuty7mVw/QyGfJixnS9/ia3t7c9mWs2cu5SEps2bdpTK5Yv++WevfsfoPtHak0FZJnvXmpuJN08kHYz6W3d3d1KQyg1Johihlti10cPusvywWur8PzeLpzvT1hdSrDuJdTGcbqBW4QQ4LiU5DwBzUUTqPY3wQi/k94yalAAarMA6UvJ62Wiu41U04DM3ifvdmVjQaBdSW6HZU5fSsadpNvj9M7MKQfXUpJRlSfi4RWl6VdxON6vvUss6PmVVjdJfRY61/Gd3EkvD/28wmn661/Hjvf88m+//LGnbC4wYxu3r3muXrP6l+EwHbGU9NC+3U2zaseGbg23UlbG9+CHkK0qZ1a79DGFeSF85f2zrE0Dkk0ghS5QVNTPpDD0096kCJQqsBHGpGxSEyHJuJmUG6oHO5IuCme6FsOVZIM0RvMH/f8YFzfJqGtStqobR/3J775yXQUKwwGOp+E90NXd3aUrFj3xo5OZw0aWq6qqtOI7ePJk6y/Hg4txA25qRcVz116z9nH2psw3z+6zg8walTp37pxD51d+fc6cwQJWzynF+1dOtW2P4wLIdhZmCpm58y/tZsocF02yuJGm9RRzjMk1pOGxq8fRUVNZh9n8PyWzi8heQ5IDms0DhX4AvG9uIVZPL3Bx/UUb1z89kegk+bC+XXDEcCV57qRErbuXPaKqDfXp+tvJ032P/82XHnxuPLgY1+9VL1265PHy8rLW3Kpb+vft7R2evsNsZ1pGf/bOekwrCTGddZ2X0z3xeaF/c93JUhjphmZm2Vzo2W0ys92smtwpZT7O/Fsr6CZlM8HFgMYEjoxginG/dUVBfP66Si5YfgJdHR3nuICxkLmD5l7+ikpqEIkokdTW9rbOx8eLiXEFLhqNvrlq5cqf+1E3K3hWhdO2nz59JutrLIgE8O2PLkBeUDDUiwqYmJeldF8zxsU0tUmxQQVKDcyBDLP7BsdCzweGv1+dEvQxsmm7wLlGy7oefaXuIcU+IJigUEpCniDjX+6sQUE44AqWU6BL82KcAbOqHAsaC5edS1k7vU4pD6dbYj9/5FN3ZzyEgpuNK3DEZs9u+NHs2bO3eVU36zYrfNq+06dPK8GTbG1WZQH+zwfnklBOOjpCAjc6XJIVNJlxN01PeiZsztbrHJWOrzA0bFbQ7Lp3eVFJ6/+2XgvzgGAeIGDqcF+9tQazKvJ91qutQJ4/36m/IcDCZQDGupJW0OxVzoAtGAph7mzFndx2rqPzR+PJw7gDV1FRcfrGGzb+LBQMut68FTw+fNo+4lK2tbXn5Do3LCjHp2+ZYQ2UsO+Bmb6VJplfyuTUdYzeGDwXjYXAWp8ywZZgVUpWl63qxmuOYF1YLvApe7fXAhoD+ANXl+HmeaUZ1atZIM+cOWMLl73CZaZyJaUzlOvbvbf9Z5/8xF2nc1KgbGxcmgVYKyws/PG6ddesf/2NzR9hh75j3wYgTQSCoG3TjhPUpgGtC5AxsNDJkyfJKNA5uc4/uX46OmOjeHrn+XToXWsq0JbVy9FGYk6H89O/Fage/vr7cFpvEm0SZGNZ0n5P9TARZWNwI+pVHP2tAVDjfLAhdc4QC8a6+RUd3viUpoFhHcalpJfph9B9y8rxhRtr0pfi5bUhxuixRVtaWsk7ltwOxvZtcfzjnEDT1ufPq8fISPLnNdNKfpxBsfFl465wSNflpOXLr/7+1KlTmrzKP616dgpHplgshpaWlpxd6xfe24B3LZ9qCZqwqka7ldrwC+bxPej+k0Z9jVYTWvV4QZR0PYzvCnJVjad22m8SPEXz4lrSQRXz/9eGffjgsnL81S21OUl/4kYeO3aMUS1+mxutcryy5ORBaetFxZWYVlXctHVny/fvuHWt82dPc2AXBTikodt55x13/DcAV+lnXUvWvWQhPHz4SE7qclCfzn9771zctGiKKYDiDJpk62YabVy8yB/bA4UXSXSGTXMVzZNdsMU+QsrbBsu1yCbQyD0+fO1UfClHsBE7ceKE0l+WbXeztsO5Q+YUI9DKTn3DPLS29f/3Fx55b0bfCvBrFw04YlOmlH9/7ZrVT/hVNx6AtMqRd+SOHj2W02v9xwfn4z1KG52kD4RjBk1mQDMPskOvCxqUKXPwwQSf5U0BTuCChiEhmZsdLOfUJrs6Hj9Awl4LqGgqDRq5p7+5tRYPXzctZ2lOQCNVBCfX0apurMLZP7jZbaFwAebMnvpEZ2ff93N2Ey7my9mWbYYv82OxWGzVzx97/KcXLnQt1irT5hcRjUq2tfLNj3SRiXyo8Y47bkN+fn7W10jbph0d+LfnTykdMtJdrgS9B7+sVzbVXv8CNdoPc6zxpja9TTsO+jmMIfLoQWCNZZkeq9Et9+y6d3kaKo9ah2yq40UCAr5xdz3WNZTw/2+Gtn37DnR2droC51yHs9blrBHv9PLseWsOjSUCf/rpT9yxO9tr91pvvagKh7Rrufu973n39wMBUfbiCjgpHD2lUkns2bM359d79zXVePThxSjND1rVTjY6N9NPfsPtNLuaVtWzduOyUza9OSBhU4dznNjmBGtTg0UhmevV7qG6OIQfPDgn57CRNlXSFGAFx0nZ+GWHX/83t+mGwnlyTXXF93MBmx+76Aqn2at/+ON3X3/9zc8aSmZt/OSrmb3KkWnlyuVkuIecXadmvQNj+LfnmvGHQ926Yskm9WLXVcVjFM2icGC26/upffrQeBxls3TYpvKIHQQWlKKBVjBD9QR2m65wwL0rpuCRG2qQH6Y++5wDIy8V//GPrynvOWaibnyF40Umje0zZ6/6j099/P2fy9U9eFW4i9IswLOGWfXfONdxbs7RY013psuoNiyeYGouYCdjFC/+tHfvPvLRfxQXF+f0esuKwvjag1fhtiPd+Oamk+gZTKhfQTWGIxd00LSe/lB79xtvAegjfDNfxxH0IfDoF01VCHQYtTcHtKuix8pjHoZsc4DNdtPozLSrCaO5oDoaxlffOxPL6opymqZQH+K7du1ShkA0gHAb9NUeLjcXk2wPBCMvRSKF38j5zXiwS6ZwUNpbWtY/+9zzPzx/vvMqXkOpk5IZSgfLvrKyMtx22605vVbaBoaT+MHvzuCZnefMasbU2cx1MWobrXIAX+FAqRw1M30t1Evu6Yzy4OMARm0nX4796LppyjReduRIIxobj6plK5fqZqtwRxvmLHv4k5+4L+NPTvHMq8JdUuCIHT585GO/efa3jw4PDxV4dRu9TFddNR9XX70s59dLW3f/GB5/4yyee+s8hhOyDXgaTCxkDHywA5DZRxsNpMVki+gpZlE4Gjxj+93Lp+CT19egrND+E8fZ2tmzbdi5c6cLUF7Uzu7dOMtxQ9Fo6SNf+Zu/+lmu7+WyAY7Y/v0Hvvb0M7/5e9KW5k/lnKdrrlmL+nrHT2fnxGKDCTy1vQNPb+9AbDhFgaeBwkQgvSocGNDU/TZDN5rN0hHFm8LdvaICD66tQt2UvHFNs56eXrz++uvUiMp8uJxUzynAwotKhsPhf/zHr/0//zAe93NZAdfb25vX3Hzqu08/s+nh3Cgc9KaCm2++ifTnHJfrZm00IeH3ezvxxJZ2tHQNu7iRHhQOdvU1xtjMtssnmVlQFa44IuIDqypx3+pKlBeNn6JpRt5ze+WVV9WhE+AJLnu186pu8g8/8pGHPrd40aKR8binywo4pNvnqvbtO/CfL//u93dno3JKiIFaj0TCSn2upCS3YWw3236sBy/s7sTO470YStB9IsGHD/CscHAZb5o1/RfMjzbMjeKGBWW4eWE5IqGL00JEgiN/+MMfEYvFHSDLJGji6G5u+sA9d//52rVrMvoutxe77IBDGrp5r7/x5n/t2LHrxkxVjQdgcXERbr/9duTlRcb1+u1sZ1Mvtjb2YPPRHnTGE8pRFvjAhv1pCOGscKCOcUCxLD+I1bNLcP1VZVg3N4q8UG7D+242NpZQ3EjiTlphM0OWaQCFo3CvbVh/3aff9773NI3nvV2WwCEN3YrfPv/iDw4dOrzKTelYNXMCsLS0DLfcchPy8sa3buJmHb0jaGofRFP7AJo6hpR510DSm8KBgdHFygqDWD6zGCvqS7C8vhizpuZ7Lhi5trSyvaaMRWMHmhWyrJVu95LFiz71kY/8yZ7xvr/LFjikodvw6yef/s+TJ5sXZaJsVhDTxxQVFeGWW27OeRtdtjYwkkRb9wjaekZwtnsE7X0jONc7hqQkmxVO5Y80POeFReWt6vywqKxHC4JK/WtKURhTisk8hKK8S9bMarKxsTGlYZsomwGVHWh8yLwoHqNshxcsuOrPP/Hxj22+GPd4WQMHJYrVc8v/PP6LR9va2udl41qa4YOicAS68vJyD1cxadkaCYyQOltvb58FNn8upS+1a5o7d84jn/rkn+VsiHI3u+yBI3bhQtdtjz32+KPnOzvn+Fc183HGfijDpN900430sGiTNg7W09ODN97YrHTdsofNn9J5mE7MmFH3yF987jNZf63Uj10RwEGB7sKt//P4L77X0XHORel4cJn30dtJnXDVqpVYuHDhRb+nd4KR99p27dqtvqdoQJQJaD5AbKqprv7MF7/4+VcudhJfMcAR6+rquuGJX/zqe2fPnl3kHizhA8bfDsyYMQMbNmxAKDQx6juXuxHAyGs2p06dtiiZM2x2LqVnpTs8b97cz3z6Uw+/fimS8IoCDmn3ZC1RutbWs6u8wWW3zwpdNFqqRDAvdlvdlWbxeBybN29RhqJnAfPnUjpDxjlu96pVKz7z4AP3X5S3tnl2xQGH9IBBi7dt3/Hd/fsP2rTTeVc2dj0UCmPt2jWYN2/uJb3Hy9UOHjykvo9oBcw7bE7upF30Eq/desvNn7vzztsPXcqkuyKBI9bc3Dzz4MHD/7Z5y5a73drheOA5QUeWa2trsHHjBhQUFFzqW70sjAziRFStq6vbBI2XZXeX0tWd3PTud93xhVtvvSX7EYGztCsWOKTrdOWnTp3+h2c2PfsXpEGVD5e9S+kGXTgcUjo+z5s371Lf6oS2/fsPYO/evTaK5gyeHVROoNH78vPzv/OhD37ga8uWLeuZCGl0RQOH9JM11NPT+6nHn/jlN3t7ewu8K5sTdObt06fX4Zpr1qC0tPQS3+3EMjJI61tv7UY83s+4kMgYNmeX0rR9aOrUir/+2Ec//IPa2trEREmYKx44zTo7O+/81a+f+r+nTp2+yjtkVricluvrZ+Dqq69W3iR/Jxv5Vtu2bdtx7lyHK2TZwmYD4NGFC676y0996uGXJlo2vGOAg1IQ+ha8uXnLt994Y/OdsvodbTu1A+ADOmMbsbq6OuWl1urq8XsDeiIaiT4eOnQYjY2NXND8qJsVNm8uJYCXbrzh+i/eddf7GidiGr2jgEPaxSxtbT37maeeeuZrsXhcsIfMC3RO26AoHQGPvNzqNaEvNyMjXJERrcnwB+nvNzjB5U3d3GHjgiZHIuF/+MA9d39v7do1fRM1Gd9xwGnW1dV1+/PPv/iv+/YfWOzkYgJwWQZX5eh5SUmxAt7cuXMtnz++XI18APH48SY0Nh5TXhR1UzMvALrBxncplfVDM2fO+NIX//Lzv5voyfmOBQ5ptZtx6PCRLz/33G8fGR0d8wkdLIDxVI6eRyIRLFq0ELNmzcLUqRfn7fJcGhm5+uTJZtLkgnPntHc0WaBYmOzmVvCcl/mwhUKhR++4/dZv3XrrLbn7cMQ42jsaOKShC7a0tLz796/84VstLa3z3KGDB9BYlTPvR/pLQaivn4mZM8k04xLcuTcjkJ0506IMLU4G80mbARcPtMzVzR08qmw11dVN//K9997zwqz6+uSESCwP9o4HTrO2tra6o0ebPvP7V179Mhm73qkOB47i+ZvD9N5aMBhCTU01qqoqMXVqJSorp+Z8KHavRnrsd3R0KArW3t6uvpummVfQ/KubV/CI5efnf+vGG6//3h2339Z6SRIpC5sEjrLe3l5hdHR0/e9+/8o/7dmzb6O2x8m1hEd30gwZHzw6mUm9jwRdyMBGZJm8FEteiCXzXFl3dw/6+nqVd9DI1N3dRSK5zNhCfMjc4GMhdALQHca0iaL45po1q/7uphtv2DJt2rTLspBNAsexWCxWfLat7e6XX/79P50506J8xdEeNK/qBg547svGccY2DbyCgnxl/BXysmxeXr46z1OCGORDhWRIcHYiPW7IPtLVCuAN3CU7AMeue3EnvagbDzyTtc6fP+/v7rzjtk0NDQ39vjN0AtkkcA7W3Nxc29x86sNbt+34u+7u7kLtSL8qxx5HnwccdXNbBwdC/2bkkV/o6Pz17046A8jYYOXUqf903fprH7vxhhvaeAdcbjYJnAdra2ub29h49BNvbt765b6+PqOoOzQFwAYoN3fy4sBGGwuXZvaQ+XUnnYMm/IuqnDr1Wxs2XPfj66/feDwHNzlhbBI4H9bT07Ng3/4Df/r6629+iQZPM6/upddl9jhjG3IEm2Y86PyrnNM2D5Apu6dNq/rX1atW/vTWW2+ZkD1FsrVJ4DKwWCw29403Nj+4d9++v+ru7inknYHvOtorHrudt263LTfmDp2dynkBzcUGa2pq/uWG6zc8cc01a68oRWNtErgsrKurq/ZMS8t7tm3b8ZXjx0/MdDqTX3XLBDa3vHTPFit0bF7y62++AVNMFMUzCxZc9fV1117z/JIli6+IOpqbTQKXAyNRze7unmu3bdv+ib379n+QRAK9mB1s/HV4gM1LNtnV2dS9nJ1ukPm1SCTy61UrV/x43XXXbq+bPv2yjjr6tUngcmixWEwcGRlt2Ltv3x07d7712e7u7ozeTOXX2/hZkKmL6ZRHTqqWhTXNmlX/H8uWLn156dLFzRUVFVIuTnq52SRw42SxWCyvq6t74dFjx959tPHYIy2trVW5Tpds30C4CPl0vra25tHZDQ0vrF698sjMmTPH5Ys0l5NNAncRLBaLFbS1tc1vaWm9+fSZlg+fPHFy6ejY2JV6uwdmzpjx2Jy5s/+wdMniY7NmzRqaANc0YWwSuItsvb29QVEUa082n1px7FjT7Y2NRx/q6+vL/UexL54NTJtW9ficObN/1zBr1p5Zs+rbpkyZctl0Jr7YNgncJbZYLBa5cKGr9vjxE4va29vXnzt//s7z5zuXTOBLPlhbW/NS/cyZW2bMnHF4Vv3MtmnTpo1OgOu6LGwSuAlmsViMpHXJ+fOd1c3NzXP6+weWdHV3rz5/vvO6np6eyot4tZ2RcHhrtLT0raqqyoN1ddNP1NVN78jPy4s3NDRMZnCGNgncZWIkAgogr7e3ryQWj5XH+mKVsVh82vDwcM3I6Ej16OhYdTwer5IkqXJsbKx8dHS0ZHR0rGB4eJi8Yp4MhUJDoVAoHgwEeoKhUGcwGDgfDIY6RFHoKCwsbJ9aUXGupKS4s7S0tKe0rDReGo2OTJs27R0ZSRxPu1KH2pi0Sbt8DcD/D8BS03Exfak1AAAAAElFTkSuQmCC"
        , sku = "-"
        , keyword="-";
    $(function () {
        $("#SaveTask").addClass("layui-btn-disabled");
        $.get('@Url.Action("GetCategory", "VOS_Task")', data => {
            if (data.Msg) {
                $(data.Data).each(function (index, item) {
                    htmloption += "<option value=" + item.Value + ">" + item.Text + "</option>";
                });
            } else {
                layer.msg("网络状态不佳");
            }
        });
    });
    function CreateTB() {
        if ($("#VOS_PlanVM_Entity_PlanSatrtTime").val() == ""
            || $("#VOS_PlanVM_Entity_PlanEndTime").val() == ""
            || $("#VOS_PlanVM_Entity_PlanFee").val() == ""
            || $("#VOS_PlanVM_Entity_OrganizationID").val() == ""
            || $("#VOS_PlanVM_Entity_ShopnameId").val() == "") {
            layer.msg("请将上部分填写完毕");
            return false;
        }
        layer.msg("已创建一行，共 " + ($("#layui_table tr").length + 1) +" 行");
        $("#SaveTask").removeClass("layui-btn-disabled").addClass("layui-btn-radius layui-btn-normal");
        let oTB = document.getElementById("layui_table");
        let oTR = oTB.insertRow(oTB.rows.length);
        //任务编号
        let oTD0 = oTR.insertCell(0);
        oTD0.innerHTML = "<div>" + GetTime() + "</div><input id='Task_no' readonly  type='text' value='" + GetTime()+"' class='layui-input layui-btn-disabled' style='display:none;'/>";
        //做单方法
        let oTD1 = oTR.insertCell(1);
        oTD1.innerHTML = "<div>" + TaskTypeTex+"</div>\
                          <select id='TaskType'class='form-control' >\
                            <option value='0'>搜索单</option>\
                            <option value='1'>隔天单</option>\
                            <option value='2'>非搜单</option>\
                            <option value='3'>动销单</option>\
                            <option value='4'>其他</option>\
                         </select>";
        $(oTD1).find("select").val(TaskTypeVal);
        //执行开始
        let oTD2 = oTR.insertCell(2);
        oTD2.style.width = "140px";
        oTD2.innerHTML = "<div>" + GetDate() + "</div><input id='ImplementStartTime' value=" + GetDate()+" type='date'  style='display:none' class='layui-input'>";
        //商品类目
        let oTD3 = oTR.insertCell(3);
        oTD3.innerHTML = "<span>" + TaskCateTex + "</span><select id='TaskCateId' class='form-control selectpicker' data-live-search='true' style='display:none;'><option value='-'>请选择</option>" + htmloption + "</select>";
        $(oTD3).find("select").selectpicker('refresh');//初始化
        $(oTD3).find("select").val(TaskCateVal);//赋值
        $(oTD3).find(".bootstrap-select").css("display", "none");//隐藏
        //商品名称
        let oTD4 = oTR.insertCell(4);
        oTD4.innerHTML = "<div>" + CommodityName + "</div><input type='text' value=" + CommodityName+" id='CommodityName' class='layui-input' style='display:none;'/>";
        //商品图片
        let oTD5 = oTR.insertCell(5);
        oTD5.innerHTML = '<img src="' + base64 + '" id="base64" class="FileData" width="32" height="32"/>\
                          <label for="fileinp" style="display:none; cursor: pointer;">\
                            <input type="button" id="fileUploadBtn" calss="fileUpload" value="上传" >\
                            <span>未选择</span>\
                            <input type="file" name="fileUpload" class="fileinp" accept=".JPG,.JPEG,.PNG,.TIF">\
                          </label>';
        //商品链接
        let oTD6 = oTR.insertCell(6);
        oTD6.innerHTML = "<div>" + CommodityLink + "</div><input type='text' id='CommodityLink' value='" + CommodityLink+"' class='layui-input' style='display:none;'/>";
        //商品价格
        let oTD7 = oTR.insertCell(7);
        oTD7.style.width = "50px";
        oTD7.innerHTML = "<div>" + CommodityPrice + "</div><input type='number' value=" + CommodityPrice +" id='CommodityPrice' class='layui-input deal' style='width:75px;display:none;'/>";
        //SKU
        let oTD8 = oTR.insertCell(8);
        oTD8.innerHTML = "<div>" + sku + "</div><input type='text' id='SKU' value='"+sku+"' class='layui-input' style='display:none;'/>";
        //搜索关键字
        let oTD9 = oTR.insertCell(9);
        oTD9.innerHTML = "<div>" + keyword + "</div><input type='text' id='SearchKeyword' value='" + keyword +"' class='layui-input' style='display:none;'/>";
        //单量
        let oTD10 = oTR.insertCell(10);
        oTD10.style.width = "50px";
        oTD10.innerHTML = "<div>1</div><input type='number' id='VOS_Number' value='1' class='layui-input deal' style='width:75px;display:none;'/>";
        //操作
        let oTD11 = oTR.insertCell(11);
        oTD11.style.width = "230px";
        oTD11.innerHTML = "<input type='button' class='layui-btn' value='编辑' onclick=\"edit(this,'show')\"/> <input type='button' class='layui-btn layui-btn-primary layui-border-black' value='删除' onclick='drop(this)'/>";
        RowIndex++;

    }

    function edit(o, otype) {
        let oTR = o.parentNode.parentNode;
        //任务
        let TaskDiv = oTR.cells[0].getElementsByTagName("div");
        let TaskInpt = oTR.cells[0].getElementsByTagName("input");
        //做单方法
        let MakeDiv = oTR.cells[1].getElementsByTagName("div");
        let MakeSelect = oTR.cells[1].getElementsByTagName("select");
        //执行开始
        let ImplementStartTimeDiv = oTR.cells[2].getElementsByTagName("div");
        let ImplementStartTimeInput = oTR.cells[2].getElementsByTagName("input");
        //商品类目
        let TaskCateSpan = oTR.cells[3].getElementsByTagName("span");
        let TaskCateDiv = oTR.cells[3].getElementsByTagName("div");
        //商品名称
        let CommodityNameDiv = oTR.cells[4].getElementsByTagName("div");
        let CommodityNameInput = oTR.cells[4].getElementsByTagName("input");
        //商品图片
        let CommodityPicIdImg = oTR.cells[5].getElementsByTagName("img");
        let CommodityPicIdButton = oTR.cells[5].getElementsByTagName("label");
        //商品链接
        let CommodityLinkDiv = oTR.cells[6].getElementsByTagName("div");
        let CommodityLinkInput = oTR.cells[6].getElementsByTagName("input");
        //商品价格
        let CommodityPriceDiv = oTR.cells[7].getElementsByTagName("div");
        let CommodityPriceInput = oTR.cells[7].getElementsByTagName("input");
        //sku
        let SKUDiv = oTR.cells[8].getElementsByTagName("div");
        let SKUInput = oTR.cells[8].getElementsByTagName("input");
        //搜索关键字
        let keywordDiv = oTR.cells[9].getElementsByTagName("div");
        let keywordInput = oTR.cells[9].getElementsByTagName("input");
        //单量
        let VOS_NumberDiv = oTR.cells[10].getElementsByTagName("div");
        let VOS_NumberInput = oTR.cells[10].getElementsByTagName("input");

        if (otype == "show") {
            o.value = "确认";
            o.setAttribute("onclick", "edit(this,'hide')");
            //任务编号
            TaskInpt[0].value = TaskDiv[0].childNodes[0].nodeValue;
            TaskInpt[0].style.display = "block";
            TaskDiv[0].style.display = "none";
            //做单方法
            $(MakeSelect[0]).val(SelectOp(MakeDiv[0].childNodes[0].nodeValue));
            MakeSelect[0].style.display = "block";
            MakeDiv[0].style.display = "none";
            //执行开始
            ImplementStartTimeInput[0].value = ImplementStartTimeDiv[0].childNodes[0].nodeValue;
            ImplementStartTimeInput[0].style.display = "block";
            ImplementStartTimeDiv[0].style.display = "none";
            //商品类目
            $(TaskCateDiv[0]).find(".selectpicker").selectpicker('val', TaskCateVal);//设置选中
            $(TaskCateDiv[0]).find(".selectpicker").selectpicker('refresh');
            TaskCateDiv[0].style.display = "block";
            TaskCateSpan[0].style.display = "none";
            //商品名称
            CommodityNameInput[0].value = CommodityNameDiv[0].childNodes[0].nodeValue;
            CommodityNameInput[0].style.display = "block";
            CommodityNameDiv[0].style.display = "none";
            //商品图片
            CommodityPicIdButton[0].style.display = "block";
            CommodityPicIdImg[0].style.display = "none";
            //商品链接
            CommodityLinkInput[0].value = CommodityLinkDiv[0].childNodes[0].nodeValue;
            CommodityLinkInput[0].style.display = "block";
            CommodityLinkDiv[0].style.display = "none";
            //商品价格
            CommodityPriceInput[0].value = CommodityPriceDiv[0].childNodes[0].nodeValue;
            CommodityPriceInput[0].style.display = "block";
            CommodityPriceDiv[0].style.display = "none";
            //SKU
            SKUInput[0].value = SKUDiv[0].childNodes[0].nodeValue;
            SKUInput[0].style.display = "block";
            SKUDiv[0].style.display = "none";
            //搜索关键字
            keywordInput[0].style.display = "block";
            keywordDiv[0].style.display = "none";
            //单量
            VOS_NumberInput[0].value = VOS_NumberDiv[0].childNodes[0].nodeValue;
            VOS_NumberInput[0].style.display = "block";
            VOS_NumberDiv[0].style.display = "none";
        } else if (otype == "hide") {
            o.value = "编辑";
            o.setAttribute("onclick", "edit(this,'show')");
            //任务编号
            TaskDiv[0].childNodes[0].nodeValue = TaskInpt[0].value;
            TaskInpt[0].style.display = "none";
            TaskDiv[0].style.display = "block";
            //做单方法
            TaskTypeTex = MakeDiv[0].childNodes[0].nodeValue = $(MakeSelect[0]).find("option:selected").text();
            TaskTypeVal = $(MakeSelect[0]).find("option:selected").val();
            MakeSelect[0].style.display = "none";
            MakeDiv[0].style.display = "block";
            //执行开始
            StartTime = ImplementStartTimeDiv[0].childNodes[0].nodeValue = ImplementStartTimeInput[0].value;
            ImplementStartTimeInput[0].style.display = "none";
            ImplementStartTimeDiv[0].style.display = "block";
            //商品类目
            TaskCateTex = TaskCateSpan[0].childNodes[0].nodeValue = $(TaskCateDiv[0]).find("option:selected").text();
            TaskCateVal = $(TaskCateDiv[0]).find("option:selected").val();
            TaskCateDiv[0].style.display = "none";
            TaskCateSpan[0].style.display = "block";
            //商品名称
            CommodityName = CommodityNameDiv[0].childNodes[0].nodeValue = CommodityNameInput[0].value;
            CommodityNameInput[0].style.display = "none";
            CommodityNameDiv[0].style.display = "block";
            //商品图片
            CommodityPicIdButton[0].style.display = "none";
            CommodityPicIdImg[0].style.display = "block";
            //商品链接
            CommodityLink = CommodityLinkDiv[0].childNodes[0].nodeValue = CommodityLinkInput[0].value;
            CommodityLinkInput[0].style.display = "none";
            CommodityLinkDiv[0].style.display = "block";
            //商品价格
            CommodityPrice = CommodityPriceDiv[0].childNodes[0].nodeValue = CommodityPriceInput[0].value < 0.01 ? 0.01 : CommodityPriceInput[0].value;
            CommodityPriceInput[0].style.display = "none";
            CommodityPriceDiv[0].style.display = "block";
            //SKU
            SKUDiv[0].childNodes[0].nodeValue = SKUInput[0].value;
            sku = SKUInput[0].value;
            SKUInput[0].style.display = "none";
            SKUDiv[0].style.display = "block";
            //搜索关键字
            keywordDiv[0].childNodes[0].nodeValue = keywordInput[0].value;
            keyword = keywordInput[0].value;
            keywordInput[0].style.display = "none";
            keywordDiv[0].style.display = "block";
            //单量
            let single = VOS_NumberInput[0].value;
            VOS_NumberDiv[0].childNodes[0].nodeValue = single < 1 ? 1 : single;
            VOS_NumberInput[0].style.display = "none";
            VOS_NumberDiv[0].style.display = "block";
        }
    }

    //图显示
    $(document).on("click", "[name='fileUpload']", function () {
        let _this = this;
        let span = $(_this).prev();
        let img = $(_this).parent().prev();
        _this.addEventListener('change', function () {
            let file = this.files[0];
            if (file.type.indexOf("image") == 0) {
                $(span[0]).text("已选择");
                let reader = new FileReader();
                reader.onload = function (e) {
                    img[0].src = this.result;
                    base64 = this.result;
                }
                reader.readAsDataURL(file);
            } else {
                $(span[0]).text("未选择");
            }
        });
    });

    function drop(o) {
        let oTB = document.getElementById("layui_table");
        let oDel = o.parentNode.parentNode.sectionRowIndex;
        oTB.deleteRow(oDel);
    }

    function GetDate() {
        let _Date = new Date();
        let _Year = _Date.getFullYear();
        let _Month = _Date.getMonth() + 1;
        let _Today = _Date.getDate();
        return _Year + '-' + formatDate(_Month) + '-' + formatDate(_Today);
    };

    function formatDate(str) {
        let realNum;
        if (str < 10) {
            realNum = '0' + str;
        } else {
            realNum = str;
        }
        return realNum;
    }

    function SelectOp(nodeValue) {
        let op = 0;
        switch (nodeValue) {
            case "搜索单":
                op = 0;
                break;
            case "隔天单":
                op = 1;
                break;
            case "非搜单":
                op = 2;
                break;
            case "动销单":
                op = 3;
                break;
            default:
                op = 4;
                break;
        }
        return op;
    }

    function GetTime() {
        return new Date().getTime();
    }

    $("#SaveTask").click(function () {
        if ($("#SaveTask").hasClass("layui-btn-disabled") || $("#layui_table tr").length <= 0) { return false; }
        /**任务 */
        var tasklist = [];
        $('#layui_table tr').each(function (index, item) {
            var row = {};
            $(this).find('td').each(function (index2, item2) {
                let input = $(this).find("input").not('.fileUpload');
                let select = $(this).find("select");
                let selectpicker = $(this).find(".selectpicker");
                let img = $(this).find("img")[0];
                if ($(img).attr("id") != undefined) {
                    row[$(img).attr("id")] = $(img).attr("src");
                } else if (selectpicker.length > 0) {
                    row[selectpicker[0].id] = $(selectpicker[0]).val();
                }else if (input.val() != undefined) {
                    row[input[0].id] = input.val().replace('\t', "");;
                } else if (select.val() != undefined) {
                    row[select[0].id] = select.val();
                }
            });
            row.Plan_no = $("#VOS_PlanVM_Entity_Plan_no").val();
            tasklist.push(row);
        });
        /**计划 */
        let plan = {
            "OrganizationID": $("#VOS_PlanVM_Entity_OrganizationID option:selected").val()
            , "Plan_no": $("#VOS_PlanVM_Entity_Plan_no").val()
            , "ShopnameId": $("#VOS_PlanVM_Entity_ShopnameId").find("option:selected").val()
            , "PlanSatrtTime": $("#VOS_PlanVM_Entity_PlanSatrtTime").val()
            , "PlanEndTime": $("#VOS_PlanVM_Entity_PlanEndTime").val()
            , "PlanFee": $("#VOS_PlanVM_Entity_PlanFee").val()
        };
        let lo = showLoad();
        $.post('@Url.Action("DoBatchCreation", "VOS_Task")', { "plan": JSON.stringify(plan), "tasklist": JSON.stringify(tasklist) }, res => {
            closeLoad(lo);
            layer.msg(res.Data.Msg, {
                icon: res.Data.icon,
                time: 1500,
            }, function () {
                location.reload();
                layer.closeAll();
            });
        });

    });

    function showLoad() {
        return layer.msg('正在完命的提交中，请勿关闭或刷新...', { icon: 16, shade: [0.5, '#f5f5f5'], scrollbar: false, offset: 'auto', time: 1000000 });
    }

    function closeLoad(index) {
        layer.close(index);
    }
</script>