@model VOS.ViewModel.Business.VOS_TaskVMs.VOS_TaskBatchVM
@inject IStringLocalizer<WalkingTec.Mvvm.Core.Program> Localizer;
<wt:form vm="@Model">
    <div style="margin-bottom:10px">@Model.Localizer["BatchEditConfirm"] </div>
    <wt:upload field="LinkedVM.CommodityPicId" upload-type="ImageFile"/>
<wt:row items-per-row="ItemsPerRowEnum.Two">
    </wt:row>
    <wt:hidden field="Ids" />
    <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
    <wt:row align="AlignEnum.Right">
        <wt:submitbutton />
        <wt:closebutton />
    </wt:row>
</wt:form>

<script type="text/javascript">
    $("img").attr("title", "点击预览");
    $("img").css("cursor", "pointer");
    $("#VOS_TaskBatchVM_LinkedVM_CommodityPicIdlabel").click(function () {
        var _img = $("#VOS_TaskBatchVM_LinkedVM_CommodityPicIdlabel > img")[0];
        ImageAuto(_img);
    });
    function ImageAuto(img) {
        let src = img.src.replace(/64/g, "640");
        var imgHtml = "<img src='" + src + "' width='640px' height='640px'/>";
        layer.open({
            type: 1
            , title: '预览'
            , id: "img"
            , shade: 0.6
            , maxmin: true
            , anim: 1
            , content: imgHtml
        });
    }
</script>
